In [ ]:
! pip install cfbd

Collecting cfbd
  Downloading cfbd-5.13.2-py3-none-any.whl.metadata (737 bytes)
Requirement already satisfied: urllib3<3.0.0,>=1.25.3 in /usr/local/lib/python3.12/dist-packages (from cfbd) (2.5.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.12/dist-packages (from cfbd) (2.9.0.post0)
Collecting pydantic<2,>=1.10.5 (from cfbd)
  Downloading pydantic-1.10.26-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (155 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 155.1/155.1 kB 4.1 MB/s eta 0:00:00
Collecting aenum (from cfbd)
  Downloading aenum-3.1.16-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<2,>=1.10.5->cfbd) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil->cfbd) (1.17.0)
Downloading cfbd-5.13.2-py3-none-any.whl (245 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 245.7/245.7 kB 11.0 MB/s eta 0:00:00
Downloading pydantic-1.10.26-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (2.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 58.2 MB/s eta 0:00:00
Downloading aenum-3.1.16-py3-none-any.whl (165 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.6/165.6 kB 16.2 MB/s eta 0:00:00
Installing collected packages: aenum, pydantic, cfbd
  Attempting uninstall: pydantic
    Found existing installation: pydantic 2.12.3
    Uninstalling pydantic-2.12.3:
      Successfully uninstalled pydantic-2.12.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-adk 1.23.0 requires pydantic<3.0.0,>=2.0, but you have pydantic 1.10.26 which is incompatible.
gradio 5.50.0 requires pydantic<=2.12.3,>=2.0, but you have pydantic 1.10.26 which is incompatible.
albumentations 2.0.8 requires pydantic>=2.9.2, but you have pydantic 1.10.26 which is incompatible.
langsmith 0.6.8 requires pydantic<3,>=2, but you have pydantic 1.10.26 which is incompatible.
langchain-core 1.2.8 requires pydantic<3.0.0,>=2.7.4, but you have pydantic 1.10.26 which is incompatible.
mcp 1.26.0 requires pydantic<3.0.0,>=2.11.0, but you have pydantic 1.10.26 which is incompatible.
google-genai 1.61.0 requires pydantic<3.0.0,>=2.9.0, but you have pydantic 1.10.26 which is incompatible.
langgraph 1.0.7 requires pydantic>=2.7.4, but you have pydantic 1.10.26 which is incompatible.
pydantic-settings 2.12.0 requires pydantic>=2.7.0, but you have pydantic 1.10.26 which is incompatible.
langchain 1.2.8 requires pydantic<3.0.0,>=2.7.4, but you have pydantic 1.10.26 which is incompatible.
thinc 8.3.10 requires pydantic<3.0.0,>=2.0.0, but you have pydantic 1.10.26 which is incompatible.
Successfully installed aenum-3.1.16 cfbd-5.13.2 pydantic-1.10.26

In [ ]:
import time
import os
import cfbd
from cfbd.models.player_season_predicted_points_added import PlayerSeasonPredictedPointsAdded
from cfbd.rest import ApiException
from pprint import pprint

# Defining the host is optional and defaults to https://api.collegefootballdata.com
# See configuration.py for a list of all supported configuration parameters.
configuration = cfbd.Configuration(
    host = "https://api.collegefootballdata.com"
)

# The client must configure the authentication and authorization parameters
# in accordance with the API server security policy.
# Examples for each auth method are provided below, use the example that
# satisfies your auth use case.

# Configure Bearer authorization: apiKey
configuration = cfbd.Configuration(
    access_token = os.environ["BEARER_TOKEN"]
)

# Enter a context with an instance of the API client
with cfbd.ApiClient(configuration) as api_client:
    # Create an instance of the API class
    api_instance = cfbd.MetricsApi(api_client)
    year = 56 # int | Year filter, required if playerId not specified (optional)
    conference = 'conference_example' # str | Optional conference abbreviation filter (optional)
    team = 'team_example' # str | Optional team filter (optional)
    position = 'position_example' # str | Optional position abbreviation filter (optional)
    player_id = 'player_id_example' # str | Player ID filter, required if year not specified (optional)
    threshold = 3.4 # float | Threshold value for minimum number of plays (optional)
    exclude_garbage_time = True # bool | Optional flag to exclude garbage time plays (optional)

    try:
        api_response = api_instance.get_predicted_points_added_by_player_season(year=year, conference=conference, team=team, position=position, player_id=player_id, threshold=threshold, exclude_garbage_time=exclude_garbage_time)
        print("The response of MetricsApi->get_predicted_points_added_by_player_season:\n")
        print(api_response)
    except Exception as e:
        print("Exception when calling MetricsApi->get_predicted_points_added_by_player_season: %s\n" % e)

In [ ]:
import time
import os
import cfbd
from cfbd.models.player_season_predicted_points_added import PlayerSeasonPredictedPointsAdded
from cfbd.rest import ApiException
from pprint import pprint

configuration = cfbd.Configuration(host = "https://api.collegefootballdata.com",
                                   #access_token = 'U20YXd7+EOCx8NNv8d2t2NIsMsImSIMxkBUeGaFvF+arxerB8O6XFUaG8pQDhgxv'
                                   access_token = 'UYYEE9HUhl8NhRa7McKXIW1CVe56Bn05WkHzQUh1paMwqn6ykJ7JO7rZvIbYQVnh')

api_client = cfbd.ApiClient(configuration)

api_instance = cfbd.MetricsApi(api_client)

api_response = api_instance.get_predicted_points_added_by_player_season(year = 2014)

In [ ]:
import pandas as pd

# Method 1: Using list comprehension (RECOMMENDED)
records = []
for player in api_response:
    records.append({
        'season': player.season,
        'player_id': player.id,
        'name': player.name,
        'position': player.position,
        'team': player.team,
        'conference': player.conference,
        'avg_ppa_passing_downs': player.average_ppa.passing_downs,
        'avg_ppa_standard_downs': player.average_ppa.standard_downs,
        'avg_ppa_third_down': player.average_ppa.third_down,
        'avg_ppa_second_down': player.average_ppa.second_down,
        'avg_ppa_first_down': player.average_ppa.first_down,
        'avg_ppa_rush': player.average_ppa.rush,
        'avg_ppa_var_pass': player.average_ppa.var_pass,
        'avg_ppa_all': player.average_ppa.all,
        'total_ppa_passing_downs': player.total_ppa.passing_downs,
        'total_ppa_standard_downs': player.total_ppa.standard_downs,
        'total_ppa_third_down': player.total_ppa.third_down,
        'total_ppa_second_down': player.total_ppa.second_down,
        'total_ppa_first_down': player.total_ppa.first_down,
        'total_ppa_rush': player.total_ppa.rush,
        'total_ppa_var_pass': player.total_ppa.var_pass,
        'total_ppa_all': player.total_ppa.all,
    })

df = pd.DataFrame(records)

In [ ]:
df

,season,player_id,name,position,team,conference,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,...,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all
0,2014,29649,Jamaal Jackson,RB,Delaware State,,-0.200,-0.609,NaN,-0.200,...,NaN,-0.527,-0.200,-2.437,0.000,-0.200,-2.437,-2.637,0.000,-2.637
1,2014,109907,Jon Lee,RB,Air Force,MWC,0.630,-0.128,-0.363,0.173,...,0.015,0.124,1.890,-0.770,-0.363,1.040,0.444,1.076,0.044,1.120
2,2014,115262,Jamar Brown,WR,Indiana State,,0.222,0.640,0.222,0.595,...,0.431,0.431,0.444,1.280,0.444,0.595,0.685,0.000,1.724,1.724
3,2014,147386,Josh Smith,WR,Akron,MAC,-1.026,0.155,NaN,-0.449,...,-0.081,-0.081,-1.026,0.620,0.000,-0.897,0.491,0.000,-0.406,-0.406
4,2014,183814,Cody Clay,TE,West Virginia,B12,0.373,0.161,1.843,0.797,...,0.253,0.208,0.746,1.127,1.843,3.187,1.009,-0.154,2.028,1.874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3047,2014,3147892,Kai Dela Cruz,WR,Louisville,ACC,0.770,1.252,0.423,1.116,...,0.931,0.931,1.539,1.252,0.423,1.116,1.252,0.000,2.792,2.792
3048,2014,3148009,Buddy Pell,RB,Alabama,SEC,NaN,0.367,NaN,0.276,...,NaN,0.367,0.000,0.734,0.000,0.276,0.458,0.734,0.000,0.734
3049,2014,3148070,"Joe Dineen, Jr.",RB,Kansas,B12,-0.163,0.107,-0.163,0.555,...,NaN,0.062,-0.163,0.537,-0.163,1.110,1.045,0.374,0.000,0.374
3050,2014,3148197,D Bossier,RB,SE Louisiana,,0.552,-0.635,NaN,0.552,...,-0.635,-0.041,0.552,-0.635,0.000,0.552,-0.635,0.552,-0.635,-0.083
3051,2014,3154545,Pereese Joas,RB,Hawai'i,MWC,3.087,0.699,NaN,3.087,...,NaN,1.296,3.087,2.097,0.000,3.087,2.097,5.183,0.000,5.183

In [ ]:
for year in range(2014,2025):
  print(year)

2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024

In [ ]:
api_response[1]

DraftPick(college_athlete_id=4426348, nfl_athlete_id=107317, college_id=99, college_team='LSU', college_conference='SEC', nfl_team_id=28, nfl_team='Washington', year=2024, overall=2, round=1, pick=2, name='Jayden Daniels', position='Quarterback', height=76, weight=210, pre_draft_ranking=5, pre_draft_position_ranking=2, pre_draft_grade=94, hometown_info=DraftPickHometownInfo(county_fips='06071', longitude='-117.2897652', latitude='34.1083449', country='USA', state='CA', city='San Bernardino'))

In [ ]:
import pandas as pd
import time
import os
import cfbd
from cfbd.models.player_season_predicted_points_added import PlayerSeasonPredictedPointsAdded
from cfbd.rest import ApiException
from cfbd.models.season_type import SeasonType
from pprint import pprint

def load_cfbd_data():
  configuration = cfbd.Configuration(host = "https://api.collegefootballdata.com",
                                   #access_token = 'U20YXd7+EOCx8NNv8d2t2NIsMsImSIMxkBUeGaFvF+arxerB8O6XFUaG8pQDhgxv',
                                  access_token = 'UYYEE9HUhl8NhRa7McKXIW1CVe56Bn05WkHzQUh1paMwqn6ykJ7JO7rZvIbYQVnh')

  api_client = cfbd.ApiClient(configuration)

  ppa_instance = cfbd.MetricsApi(api_client)

  player_usage_instance = cfbd.PlayersApi(api_client)

  draft_instance = cfbd.DraftApi(api_client)

  stats_instance = cfbd.StatsApi(api_client)

  rankings_instance = cfbd.RankingsApi(api_client)

  ppa_records = []

  player_usage_list = []

  draft_picks_list = []

  player_stats_list = []

  rankings_list = []

  for year in range(2014,2025+1):
    ppa_response = ppa_instance.get_predicted_points_added_by_player_season(year = year)

    player_usage = player_usage_instance.get_player_usage(year = year)

    draft_picks = draft_instance.get_draft_picks(year = year)

    player_season_stats = stats_instance.get_player_season_stats(year = year)


    if year in [2014, 2019, 2020, 2024, 2025]:
      # final week of the regular season
      rankings = rankings_instance.get_rankings(year = year, week = 16,
                                                   season_type = SeasonType('regular'))
    else:
      rankings = rankings_instance.get_rankings(year = year, week = 15,
                                                   season_type = SeasonType('regular'))

    for player in ppa_response:
      ppa_records.append({
        'season': player.season,
        'player_id': player.id,
        'name': player.name,
        'position': player.position,
        'team': player.team,
        'conference': player.conference,
        'avg_ppa_passing_downs': player.average_ppa.passing_downs,
        'avg_ppa_standard_downs': player.average_ppa.standard_downs,
        'avg_ppa_third_down': player.average_ppa.third_down,
        'avg_ppa_second_down': player.average_ppa.second_down,
        'avg_ppa_first_down': player.average_ppa.first_down,
        'avg_ppa_rush': player.average_ppa.rush,
        'avg_ppa_var_pass': player.average_ppa.var_pass,
        'avg_ppa_all': player.average_ppa.all,
        'total_ppa_passing_downs': player.total_ppa.passing_downs,
        'total_ppa_standard_downs': player.total_ppa.standard_downs,
        'total_ppa_third_down': player.total_ppa.third_down,
        'total_ppa_second_down': player.total_ppa.second_down,
        'total_ppa_first_down': player.total_ppa.first_down,
        'total_ppa_rush': player.total_ppa.rush,
        'total_ppa_var_pass': player.total_ppa.var_pass,
        'total_ppa_all': player.total_ppa.all,
    })
    for player in player_usage:
      player_usage_list.append({
      'season': player.season,
      'player_id': player.id,
      'name': player.name,
      'position': player.position,
      'team': player.team,
      'conference': player.conference,
      'usage_passing_downs': player.usage.passing_downs,
      'usage_standard_downs': player.usage.standard_downs,
      'usage_third_down': player.usage.third_down,
      'usage_second_down': player.usage.second_down,
      'usage_first_down': player.usage.first_down,
      'usage_rush': player.usage.rush,
      'usage_var_pass': player.usage.var_pass,
      'usage_overall': player.usage.overall
    })
    for player in draft_picks:
      draft_picks_list.append({
        'college_athlete_id' : player.college_athlete_id,
        'nfl_athlete_id' : player.nfl_athlete_id,
        'college_id' : player.college_id,
        'college_team': player.college_team,
        'college_conference': player.college_conference,
        'nfl_team_id' : player.nfl_team_id,
        'nfl_team' : player.nfl_team,
        'position' : player.position,
        'name' : player.name,
        'position' : player.position,
        'year' : player.year,
        'round' : player.round,
        'pick_number' : player.pick,
        'overall' : player.overall,
        'height_in':player.height,
        'weight_lbs':player.weight,
        'pre_draft_position_ranking': player.pre_draft_position_ranking,
        'pre_draft_grade': player.pre_draft_grade,
      })
    for player in player_season_stats:
      player_stats_list.append(player.to_dict())

    for poll_week in rankings:
      for poll in poll_week.polls:
        if poll.poll == 'AP Top 25': # Filter for AP Top 25 Poll
          for rank_data in poll.ranks:
            rankings_list.append({
            'season': poll_week.season,
            'week':poll_week.week,
            'rank': rank_data.rank,
            'team_id' : rank_data.team_id,
            'school': rank_data.school,
            'points':rank_data.points,
            'first_place_votes':rank_data.first_place_votes
        })


  # Creating Predicted Points Added Dataframe
  ppa_df = pd.DataFrame(ppa_records)

  # Creating Player Usage Dataframe
  player_usage_df = pd.DataFrame(player_usage_list)

  # Creating Draft Picks Dataframe
  draft_picks_df = pd.DataFrame(draft_picks_list)

  # Creating player stats dataframe
  player_stats_df = pd.DataFrame(player_stats_list)

  player_stats_df = player_stats_df.rename(columns={'playerId' : 'player_id', 'player' : 'player_name', 'statType' : 'stat_type', 'stat' : 'stat_value'})

  # filtering for offensive plays
  player_stats_df = player_stats_df[player_stats_df.category.isin(['passing', 'receiving', 'rushing', 'fumbles'])]

  # filtering for WR, RB, QBs, & TE
  player_stats_df = player_stats_df[player_stats_df.position.isin(['WR', 'QB', "RB", 'TE'])]

  # Create a combined stat type to avoid duplicates when pivoting to wide format
  player_stats_df['combined_stat_type'] = player_stats_df['category'] + '_' + player_stats_df['stat_type']

  pivoted_player_stats = player_stats_df.pivot_table(
    index=['season', 'player_id', 'player_name', 'position', 'team', 'conference'],
    columns='combined_stat_type',
    values='stat_value',
    aggfunc='first' # takes the first value if there are duplicates
  ).reset_index()

  # Creating final rankings dataframe
  rankings_df = pd.DataFrame(rankings_list)

  return [ppa_df, player_usage_df, draft_picks_df, pivoted_player_stats, rankings_df]

In [ ]:
ppa_df, player_usage_df, draft_picks_df, player_stats_df, rankings_df = \
    load_cfbd_data()

In [ ]:
ppa_df

,season,player_id,name,position,team,conference,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all
0,2014,29649,Jamaal Jackson,RB,Delaware State,,-0.200,-0.609,NaN,-0.200,-0.609,-0.527,NaN,-0.527,-0.200,-2.437,0.000,-0.200,-2.437,-2.637,0.000,-2.637
1,2014,109907,Jon Lee,RB,Air Force,MWC,0.630,-0.128,-0.363,0.173,0.222,0.179,0.015,0.124,1.890,-0.770,-0.363,1.040,0.444,1.076,0.044,1.120
2,2014,115262,Jamar Brown,WR,Indiana State,,0.222,0.640,0.222,0.595,0.685,NaN,0.431,0.431,0.444,1.280,0.444,0.595,0.685,0.000,1.724,1.724
3,2014,147386,Josh Smith,WR,Akron,MAC,-1.026,0.155,NaN,-0.449,0.164,NaN,-0.081,-0.081,-1.026,0.620,0.000,-0.897,0.491,0.000,-0.406,-0.406
4,2014,183814,Cody Clay,TE,West Virginia,B12,0.373,0.161,1.843,0.797,0.336,-0.154,0.253,0.208,0.746,1.127,1.843,3.187,1.009,-0.154,2.028,1.874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44231,2025,5304166,Jason Woods,WR,Mercyhurst,,NaN,-0.872,NaN,-2.759,0.072,-1.026,-0.564,-0.872,0.000,-2.615,0.000,-2.759,0.144,-2.051,-0.564,-2.615
44232,2025,5304168,Chandler Shields,WR,Mercyhurst,,NaN,-0.512,NaN,-0.512,NaN,NaN,-0.512,-0.512,0.000,-0.512,0.000,-0.512,0.000,0.000,-0.512,-0.512
44233,2025,5304322,Juan Rodriguez,RB,Bethune-Cookman,,0.006,-0.447,-0.181,0.037,-0.447,-0.415,0.136,-0.203,0.040,-2.680,-0.181,0.220,-2.680,-3.320,0.680,-2.640
44234,2025,5304325,Rashon Brown,RB,Bethune-Cookman,,NaN,0.352,NaN,0.644,0.255,0.239,0.691,0.352,0.000,1.408,0.000,0.644,0.764,0.717,0.691,1.408
44235,2025,5306715,Dj Jordan,WR,USC,B1G,NaN,0.134,NaN,NaN,0.134,NaN,0.134,0.134,0.000,0.134,0.000,0.000,0.134,0.000,0.134,0.134

In [ ]:
player_usage_df

,season,player_id,name,position,team,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall
0,2014,29649,Jamaal Jackson,RB,Delaware State,,0.043,0.133,0.000,0.056,0.200,0.179,0.000,0.094
1,2014,109907,Jon Lee,RB,Air Force,MWC,0.035,0.025,0.015,0.057,0.015,0.023,0.052,0.028
2,2014,115262,Jamar Brown,WR,Indiana State,,0.042,0.027,0.071,0.027,0.020,0.000,0.051,0.033
3,2014,147386,Josh Smith,WR,Akron,MAC,0.048,0.089,0.000,0.095,0.115,0.000,0.139,0.076
4,2014,183814,Cody Clay,TE,West Virginia,B12,0.013,0.017,0.009,0.022,0.012,0.004,0.028,0.016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44231,2025,5304166,Jason Woods,WR,Mercyhurst,,0.000,0.022,0.000,0.017,0.024,0.023,0.009,0.015
44232,2025,5304168,Chandler Shields,WR,Mercyhurst,,0.000,0.029,0.000,0.059,0.000,0.000,0.030,0.018
44233,2025,5304322,Juan Rodriguez,RB,Bethune-Cookman,,0.106,0.045,0.029,0.091,0.066,0.080,0.052,0.066
44234,2025,5304325,Rashon Brown,RB,Bethune-Cookman,,0.000,0.060,0.000,0.034,0.075,0.077,0.024,0.049
44235,2025,5306715,Dj Jordan,WR,USC,B1G,0.000,0.023,0.000,0.000,0.030,0.000,0.037,0.017

In [ ]:
draft_picks_df

,college_athlete_id,nfl_athlete_id,college_id,college_team,college_conference,nfl_team_id,nfl_team,position,name,year,round,pick_number,overall,height_in,weight_lbs,pre_draft_position_ranking,pre_draft_grade
0,-1032080.0,33597,2579,South Carolina,SEC,34,Houston,Defensive End,Jadeveon Clowney,2014,1,1,1,77.0,266.0,1.0,98.0
1,-1003724.0,34748,2,Auburn,SEC,14,Los Angeles,Offensive Tackle,Greg Robinson,2014,1,2,2,77.0,332.0,1.0,97.0
2,505719.0,34717,2116,UCF,American Athletic,30,Jacksonville,Quarterback,Blake Bortles,2014,1,3,3,77.0,232.0,1.0,91.0
3,512839.0,33609,228,Clemson,ACC,2,Buffalo,Wide Receiver,Sammy Watkins,2014,1,4,4,73.0,211.0,1.0,96.0
4,482263.0,34108,2084,Buffalo,Mid-American,13,Las Vegas,Outside Linebacker,Khalil Mack,2014,1,5,5,75.0,251.0,1.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3072,4683276.0,109504,59,Georgia Tech,ACC,15,Miami,Defensive Tackle,Zeek Biggers,2025,7,37,253,78.0,321.0,34.0,37.0
3073,4429073.0,109498,183,Syracuse,ACC,18,New Orleans,Defensive Edge,Fadil Diggs,2025,7,38,254,76.0,257.0,29.0,47.0
3074,4432338.0,109338,2294,Iowa,Big Ten,34,Houston,Tight End,Luke Lachey,2025,7,39,255,78.0,251.0,13.0,53.0
3075,4426513.0,110204,57,Florida,SEC,24,Los Angeles,Safety,Trikweze Bridges,2025,7,40,256,NaN,NaN,NaN,NaN
3076,4566100.0,110499,235,Memphis,American Athletic,17,New England,Cornerback,Kobee Minor,2025,7,41,257,72.0,190.0,NaN,NaN

In [ ]:
rankings_df

     season  week  rank  team_id             school  points  first_place_votes
0      2014    16     1      333            Alabama    1452                 27
1      2014    16     2       52      Florida State    1436                 25
2      2014    16     3     2483             Oregon    1426                  8
3      2014    16     4      239             Baylor    1265                  0
4      2014    16     5      194         Ohio State    1262                  0
5      2014    16     6     2628                TCU    1257                  0
6      2014    16     7      127     Michigan State    1105                  0
7      2014    16     8      344  Mississippi State    1070                  0
8      2014    16     9      145           Ole Miss     976                  0
9      2014    16    10       59       Georgia Tech     876                  0
10     2014    16    11     2306       Kansas State     875                  0
11     2014    16    12       12            Arizona     819                  0
12     2014    16    13       61            Georgia     745                  0
13     2014    16    14       26               UCLA     663                  0
14     2014    16    15        9      Arizona State     602                  0
15     2014    16    16      142           Missouri     599                  0
16     2014    16    17      275          Wisconsin     542                  0
17     2014    16    18      228            Clemson     509                  0
18     2014    16    19        2             Auburn     450                  0
19     2014    16    20       97         Louisville     406                  0
20     2014    16    21       68        Boise State     368                  0
21     2014    16    22       99                LSU     221                  0
22     2014    16    23      254               Utah     134                  0
23     2014    16    24       30                USC     112                  0
24     2014    16    25      158           Nebraska      79                  0
25     2015    15     1      228            Clemson    1510                 51
26     2015    15     2      333            Alabama    1465                  9
27     2015    15     3      127     Michigan State    1382                  1
28     2015    15     4      201           Oklahoma    1376                  0
29     2015    15     5       24           Stanford    1221                  0
30     2015    15     6     2294               Iowa    1214                  0
31     2015    15     7      194         Ohio State    1208                  0
32     2015    15     8       87         Notre Dame    1070                  0
33     2015    15     9       52      Florida State     972                  0
34     2015    15    10      153     North Carolina     949                  0
35     2015    15    11     2628                TCU     936                  0
36     2015    15    12       77       Northwestern     776                  0
37     2015    15    13      197     Oklahoma State     767                  0
38     2015    15    14      248            Houston     710                  0
39     2015    15    15     2483             Oregon     685                  0
40     2015    15    16      145           Ole Miss     656                  0
41     2015    15    17      130           Michigan     578                  0
42     2015    15    18      239             Baylor     426                  0
43     2015    15    19       57            Florida     420                  0
44     2015    15    20      254               Utah     323                  0
45     2015    15    21     2426               Navy     271                  0
46     2015    15    22       99                LSU     270                  0
47     2015    15    23      275          Wisconsin     197                  0
48     2015    15    24      218             Temple      94                  0
49     2015    15    25       98   Western Kentucky      70                  0
50     2016    15     1      333            Alabama    1525                 61
51     2016    15     2      194         Ohio State    1444                  0
52     2016    15     3      228            Clemson    1396                  0
53     2016    15     4      264         Washington    1329                  0
54     2016    15     5      213         Penn State    1252                  0
55     2016    15     6      130           Michigan    1249                  0
56     2016    15     7      201           Oklahoma    1173                  0
57     2016    15     8      275          Wisconsin    1054                  0
58     2016    15     9       30                USC    1040                  0
59     2016    15    10       52      Florida State     889                  0
60     2016    15    11       38           Colorado     886                  0
61     2016    15    12     2711   Western Michigan     871                  0
62     2016    15    13      197     Oklahoma State     800                  0
63     2016    15    14      277      West Virginia     788                  0
64     2016    15    15       97         Louisville     542                  0
65     2016    15    16       24           Stanford     508                  0
66     2016    15    17        2             Auburn     493                  0
67     2016    15    18      259      Virginia Tech     372                  0
68     2016    15    19       99                LSU     351                  0
69     2016    15    20       57            Florida     331                  0
70     2016    15    21     2294               Iowa     272                  0
71     2016    15    22      221         Pittsburgh     237                  0
72     2016    15    23      218             Temple     229                  0
73     2016    15    24      158           Nebraska     196                  0
74     2016    15    25       58      South Florida     173                  0
75     2017    15     1      228            Clemson    1506                 43
76     2017    15     2      201           Oklahoma    1474                 18
77     2017    15     3       61            Georgia    1409                  0
78     2017    15     4      333            Alabama    1307                  0
79     2017    15     5      194         Ohio State    1300                  0
80     2017    15     6      275          Wisconsin    1162                  0
81     2017    15     7        2             Auburn    1123                  0
82     2017    15     8       30                USC    1101                  0
83     2017    15     9      213         Penn State    1008                  0
84     2017    15    10     2116                UCF     983                  0
85     2017    15    11     2390              Miami     948                  0
86     2017    15    12      264         Washington     820                  0
87     2017    15    13     2628                TCU     816                  0
88     2017    15    14       87         Notre Dame     632                  0
89     2017    15    15       24           Stanford     629                  0
90     2017    15    16       99                LSU     599                  0
91     2017    15    17      197     Oklahoma State     549                  0
92     2017    15    18      127     Michigan State     487                  0
93     2017    15    19      235            Memphis     475                  0
94     2017    15    20       77       Northwestern     398                  0
95     2017    15    21      265   Washington State     342                  0
96     2017    15    22      259      Virginia Tech     323                  0
97     2017    15    23       58      South Florida     115                  0
98     2017    15    24      344  Mississippi State     103                  0
99     2017    15    25       68        Boise State      59                  0
100    2018    15     1      333            Alabama    1525                 61
101    2018    15     2      228            Clemson    1460                  0
102    2018    15     3       87         Notre Dame    1405                  0
103    2018    15     4      201           Oklahoma    1327                  0
104    2018    15     5      194         Ohio State    1254                  0
105    2018    15     6       61            Georgia    1247                  0
106    2018    15     7     2116                UCF    1158                  0
107    2018    15     8      130           Michigan    1076                  0
108    2018    15     9      264         Washington     992                  0
109    2018    15    10       57            Florida     894                  0
110    2018    15    11       99                LSU     847                  0
111    2018    15    12      265   Washington State     845                  0
112    2018    15    13      213         Penn State     773                  0
113    2018    15    14      251              Texas     763                  0
114    2018    15    15      277      West Virginia     694                  0
115    2018    15    16       96           Kentucky     639                  0
116    2018    15    17      183           Syracuse     516                  0
117    2018    15    18      344  Mississippi State     375                  0
118    2018    15    19      278       Fresno State     373                  0
119    2018    15    20      254               Utah     362                  0
120    2018    15    21      245          Texas A&M     359                  0
121    2018    15    22      349               Army     209                  0
122    2018    15    23       68        Boise State     144                  0
123    2018    15    24      142           Missouri     133                  0
124    2018    15    25       66         Iowa State     110                  0
125    2019    16     1       99                LSU    1535                 47
126    2019    16     2      194         Ohio State    1488                 12
127    2019    16     3      228            Clemson    1441                  3
128    2019    16     4      201           Oklahoma    1364                  0
129    2019    16     5       61            Georgia    1241                  0
130    2019    16     6       57            Florida    1167                  0
131    2019    16     7     2483             Oregon    1141                  0
132    2019    16     8      239             Baylor    1039                  0
133    2019    16     9        2             Auburn    1011                  0
134    2019    16     9      333            Alabama    1011                  0
135    2019    16    11      275          Wisconsin     944                  0
136    2019    16    12      254               Utah     909                  0
137    2019    16    13      213         Penn State     888                  0
138    2019    16    14       87         Notre Dame     709                  0
139    2019    16    15      235            Memphis     675                  0
140    2019    16    16      135          Minnesota     645                  0
141    2019    16    17      130           Michigan     597                  0
142    2019    16    18       68        Boise State     500                  0
143    2019    16    19     2294               Iowa     494                  0
144    2019    16    20     2026          App State     355                  0
145    2019    16    21     2426               Navy     246                  0
146    2019    16    22       30                USC     195                  0
147    2019    16    23     2132         Cincinnati     183                  0
148    2019    16    24     2005          Air Force      97                  0
149    2019    16    25      197     Oklahoma State      70                  0
150    2020    16     1      333            Alabama    1550                 62
151    2020    16     2       87         Notre Dame    1482                  0
152    2020    16     3      194         Ohio State    1405                  0
153    2020    16     4      228            Clemson    1388                  0
154    2020    16     5      245          Texas A&M    1286                  0
155    2020    16     6     2132         Cincinnati    1248                  0
156    2020    16     7       84            Indiana    1140                  0
157    2020    16     8       66         Iowa State    1059                  0
158    2020    16     9      324   Coastal Carolina     994                  0
159    2020    16    10       61            Georgia     968                  0
160    2020    16    11       57            Florida     940                  0
161    2020    16    12      201           Oklahoma     902                  0
162    2020    16    13       30                USC     774                  0
163    2020    16    14      252                BYU     724                  0
164    2020    16    15       77       Northwestern     691                  0
165    2020    16    16      153     North Carolina     631                  0
166    2020    16    17      309          Louisiana     566                  0
167    2020    16    18     2294               Iowa     502                  0
168    2020    16    19     2390              Miami     454                  0
169    2020    16    20      202              Tulsa     408                  0
170    2020    16    21      251              Texas     227                  0
171    2020    16    22     2335            Liberty     184                  0
172    2020    16    23     2084            Buffalo     183                  0
173    2020    16    24      152           NC State     137                  0
174    2020    16    25       23     San José State     124                  0
175    2021    15     1      333            Alabama    1535                 50
176    2021    15     2      130           Michigan    1480                  9
177    2021    15     3       61            Georgia    1408                  0
178    2021    15     4     2132         Cincinnati    1404                  3
179    2021    15     5       87         Notre Dame    1280                  0
180    2021    15     6      239             Baylor    1228                  0
181    2021    15     7      194         Ohio State    1177                  0
182    2021    15     8      145           Ole Miss    1101                  0
183    2021    15     9      197     Oklahoma State    1060                  0
184    2021    15    10      254               Utah     929                  0
185    2021    15    11      127     Michigan State     895                  0
186    2021    15    12      252                BYU     866                  0
187    2021    15    13      221         Pittsburgh     838                  0
188    2021    15    14      201           Oklahoma     807                  0
189    2021    15    15     2483             Oregon     594                  0
190    2021    15    16      309          Louisiana     490                  0
191    2021    15    17     2294               Iowa     446                  0
192    2021    15    18      152           NC State     404                  0
193    2021    15    19      228            Clemson     395                  0
194    2021    15    20      154        Wake Forest     393                  0
195    2021    15    21      248            Houston     358                  0
196    2021    15    22        8           Arkansas     279                  0
197    2021    15    23      245          Texas A&M     171                  0
198    2021    15    24     2636               UTSA     146                  0
199    2021    15    25       96           Kentucky     129                  0
200    2022    15     1       61            Georgia    1574                 62
201    2022    15     2      130           Michigan    1513                  1
202    2022    15     3     2628                TCU    1430                  0
203    2022    15     4      194         Ohio State    1398                  0
204    2022    15     5      333            Alabama    1285                  0
205    2022    15     6     2633          Tennessee    1233                  0
206    2022    15     7      254               Utah    1110                  0
207    2022    15     8       30                USC    1068                  0
208    2022    15     9      213         Penn State    1063                  0
209    2022    15    10      228            Clemson    1042                  0
210    2022    15    11     2306       Kansas State    1032                  0
211    2022    15    12      264         Washington     933                  0
212    2022    15    13       52      Florida State     708                  0
213    2022    15    14     2655             Tulane     681                  0
214    2022    15    15     2483             Oregon     670                  0
215    2022    15    16       99                LSU     660                  0
216    2022    15    17      204       Oregon State     644                  0
217    2022    15    18       26               UCLA     570                  0
218    2022    15    19       87         Notre Dame     394                  0
219    2022    15    20     2579     South Carolina     382                  0
220    2022    15    21      251              Texas     305                  0
221    2022    15    22     2636               UTSA     227                  0
222    2022    15    23     2653               Troy     158                  0
223    2022    15    24      344  Mississippi State     119                  0
224    2022    15    25      152           NC State      59                  0
225    2023    15     1      130           Michigan    1539                 51
226    2023    15     2      264         Washington    1499                 11
227    2023    15     3      251              Texas    1375                  0
228    2023    15     4       52      Florida State    1358                  0
229    2023    15     5      333            Alabama    1329                  0
230    2023    15     6       61            Georgia    1256                  0
231    2023    15     7      194         Ohio State    1185                  0
232    2023    15     8     2483             Oregon    1119                  0
233    2023    15     9      142           Missouri    1014                  0
234    2023    15    10      213         Penn State     960                  0
235    2023    15    11      145           Ole Miss     944                  0
236    2023    15    12      201           Oklahoma     867                  0
237    2023    15    13       99                LSU     823                  0
238    2023    15    14       12            Arizona     740                  0
239    2023    15    15       87         Notre Dame     634                  0
240    2023    15    16       97         Louisville     584                  0
241    2023    15    17     2567                SMU     432                  0
242    2023    15    18     2335            Liberty     424                  0
243    2023    15    19      152           NC State     377                  0
244    2023    15    20     2294               Iowa     356                  0
245    2023    15    21      204       Oregon State     309                  0
246    2023    15    22      197     Oklahoma State     256                  0
247    2023    15    23     2655             Tulane     201                  0
248    2023    15    24      256      James Madison     177                  0
249    2023    15    25     2633          Tennessee      98                  0
250    2024    16     1     2483             Oregon    1550                 62
251    2024    16     2       61            Georgia    1474                  0

In [ ]:
pd.merge(
    player_usage_df,
    ppa_df,
    on = ['season', 'player_id', 'name', 'position', 'team', 'conference'],
    how = 'inner'
)

,season,player_id,name,position,team,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all
0,2014,29649,Jamaal Jackson,RB,Delaware State,,0.043,0.133,0.000,0.056,0.200,0.179,0.000,0.094,-0.200,-0.609,NaN,-0.200,-0.609,-0.527,NaN,-0.527,-0.200,-2.437,0.000,-0.200,-2.437,-2.637,0.000,-2.637
1,2014,109907,Jon Lee,RB,Air Force,MWC,0.035,0.025,0.015,0.057,0.015,0.023,0.052,0.028,0.630,-0.128,-0.363,0.173,0.222,0.179,0.015,0.124,1.890,-0.770,-0.363,1.040,0.444,1.076,0.044,1.120
2,2014,115262,Jamar Brown,WR,Indiana State,,0.042,0.027,0.071,0.027,0.020,0.000,0.051,0.033,0.222,0.640,0.222,0.595,0.685,NaN,0.431,0.431,0.444,1.280,0.444,0.595,0.685,0.000,1.724,1.724
3,2014,147386,Josh Smith,WR,Akron,MAC,0.048,0.089,0.000,0.095,0.115,0.000,0.139,0.076,-1.026,0.155,NaN,-0.449,0.164,NaN,-0.081,-0.081,-1.026,0.620,0.000,-0.897,0.491,0.000,-0.406,-0.406
4,2014,183814,Cody Clay,TE,West Virginia,B12,0.013,0.017,0.009,0.022,0.012,0.004,0.028,0.016,0.373,0.161,1.843,0.797,0.336,-0.154,0.253,0.208,0.746,1.127,1.843,3.187,1.009,-0.154,2.028,1.874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44231,2025,5304166,Jason Woods,WR,Mercyhurst,,0.000,0.022,0.000,0.017,0.024,0.023,0.009,0.015,NaN,-0.872,NaN,-2.759,0.072,-1.026,-0.564,-0.872,0.000,-2.615,0.000,-2.759,0.144,-2.051,-0.564,-2.615
44232,2025,5304168,Chandler Shields,WR,Mercyhurst,,0.000,0.029,0.000,0.059,0.000,0.000,0.030,0.018,NaN,-0.512,NaN,-0.512,NaN,NaN,-0.512,-0.512,0.000,-0.512,0.000,-0.512,0.000,0.000,-0.512,-0.512
44233,2025,5304322,Juan Rodriguez,RB,Bethune-Cookman,,0.106,0.045,0.029,0.091,0.066,0.080,0.052,0.066,0.006,-0.447,-0.181,0.037,-0.447,-0.415,0.136,-0.203,0.040,-2.680,-0.181,0.220,-2.680,-3.320,0.680,-2.640
44234,2025,5304325,Rashon Brown,RB,Bethune-Cookman,,0.000,0.060,0.000,0.034,0.075,0.077,0.024,0.049,NaN,0.352,NaN,0.644,0.255,0.239,0.691,0.352,0.000,1.408,0.000,0.644,0.764,0.717,0.691,1.408
44235,2025,5306715,Dj Jordan,WR,USC,B1G,0.000,0.023,0.000,0.000,0.030,0.000,0.037,0.017,NaN,0.134,NaN,NaN,0.134,NaN,0.134,0.134,0.000,0.134,0.000,0.000,0.134,0.000,0.134,0.134

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
merged_df = pd.merge(
    player_usage_df,
    ppa_df,
    on = ['season', 'player_id', 'name', 'team', 'conference', 'position'],
    how = 'inner'
)

# filters for D1 Players
merged_df = merged_df[merged_df.conference != '']

merged_df

,season,player_id,name,position,team,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all
1,2014,109907,Jon Lee,RB,Air Force,MWC,0.035,0.025,0.015,0.057,0.015,0.023,0.052,0.028,0.630,-0.128,-0.363,0.173,0.222,0.179,0.015,0.124,1.890,-0.770,-0.363,1.040,0.444,1.076,0.044,1.120
3,2014,147386,Josh Smith,WR,Akron,MAC,0.048,0.089,0.000,0.095,0.115,0.000,0.139,0.076,-1.026,0.155,NaN,-0.449,0.164,NaN,-0.081,-0.081,-1.026,0.620,0.000,-0.897,0.491,0.000,-0.406,-0.406
4,2014,183814,Cody Clay,TE,West Virginia,B12,0.013,0.017,0.009,0.022,0.012,0.004,0.028,0.016,0.373,0.161,1.843,0.797,0.336,-0.154,0.253,0.208,0.746,1.127,1.843,3.187,1.009,-0.154,2.028,1.874
5,2014,381477,Jefferson Court,TE,Utah State,MWC,0.010,0.036,0.085,0.010,0.015,0.000,0.061,0.027,2.047,0.910,0.754,1.900,1.373,NaN,1.052,1.052,2.047,6.367,3.768,1.900,2.746,0.000,8.414,8.414
6,2014,381494,Christian Stewart,QB,BYU,Ind,0.742,0.503,0.685,0.577,0.541,0.177,0.961,0.581,0.370,0.159,0.609,0.301,-0.001,0.183,0.257,0.246,65.782,39.932,60.911,41.559,-0.171,11.342,94.371,105.713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43890,2025,5298407,Mitchell Summers,RB,Sacred Heart,INDAA,0.144,0.313,0.175,0.257,0.322,0.398,0.048,0.265,0.585,0.043,0.660,0.004,0.045,0.098,0.578,0.128,15.806,6.264,15.846,0.224,4.122,15.714,6.355,22.070
43891,2025,5298427,DJ Williams,RB,Sacred Heart,INDAA,0.000,0.085,0.000,0.000,0.125,0.093,0.000,0.075,NaN,0.215,NaN,NaN,0.215,0.215,NaN,0.215,0.000,0.859,0.000,0.000,0.859,0.859,0.000,0.859
44152,2025,5302266,Donovan Brown,WR,San Diego State,MWC,0.096,0.074,0.112,0.077,0.073,0.007,0.211,0.081,-0.100,0.343,-0.394,0.731,0.226,-0.610,0.222,0.181,-2.189,13.029,-6.692,13.885,5.202,-1.830,12.670,10.840
44181,2025,5303173,Galamama Mulbah,RB,Merrimack,INDAA,0.022,0.106,0.062,0.063,0.093,0.124,0.011,0.075,-0.105,0.171,0.338,-0.286,0.234,0.163,-0.168,0.142,-0.523,7.194,2.703,-3.716,5.843,7.175,-0.503,6.672
44235,2025,5306715,Dj Jordan,WR,USC,B1G,0.000,0.023,0.000,0.000,0.030,0.000,0.037,0.017,NaN,0.134,NaN,NaN,0.134,NaN,0.134,0.134,0.000,0.134,0.000,0.000,0.134,0.000,0.134,0.134

In [ ]:
player_stats_df.columns

Index(['season', 'player_id', 'player_name', 'position', 'team', 'conference',
       'fumbles_FUM', 'fumbles_LOST', 'fumbles_REC', 'passing_ATT',
       'passing_COMPLETIONS', 'passing_INT', 'passing_PCT', 'passing_TD',
       'passing_YDS', 'passing_YPA', 'receiving_LONG', 'receiving_REC',
       'receiving_TD', 'receiving_YDS', 'receiving_YPR', 'rushing_CAR',
       'rushing_LONG', 'rushing_TD', 'rushing_YDS', 'rushing_YPC'],
      dtype='object', name='combined_stat_type')

In [ ]:
merged_df.columns

Index(['season', 'player_id', 'name', 'position', 'team', 'conference',
       'usage_passing_downs', 'usage_standard_downs', 'usage_third_down',
       'usage_second_down', 'usage_first_down', 'usage_rush', 'usage_var_pass',
       'usage_overall', 'avg_ppa_passing_downs', 'avg_ppa_standard_downs',
       'avg_ppa_third_down', 'avg_ppa_second_down', 'avg_ppa_first_down',
       'avg_ppa_rush', 'avg_ppa_var_pass', 'avg_ppa_all',
       'total_ppa_passing_downs', 'total_ppa_standard_downs',
       'total_ppa_third_down', 'total_ppa_second_down', 'total_ppa_first_down',
       'total_ppa_rush', 'total_ppa_var_pass', 'total_ppa_all'],
      dtype='object')

In [ ]:
player_stats_df[player_stats_df.conference == 'FBS Independents']

combined_stat_type,season,player_id,player_name,position,team,conference,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_CAR,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC
238,2014,3125097,Hunter Moore,QB,BYU,FBS Independents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,8,0,30,4.3
243,2014,3125183,Brandon Colon,WR,Navy,FBS Independents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,3,0,39,13.0,NaN,NaN,NaN,NaN,NaN
369,2014,3129139,John Trainor,RB,Army,FBS Independents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1,0,8,8.0,NaN,NaN,NaN,NaN,NaN
417,2014,3138838,Trey Dye,RB,BYU,FBS Independents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,0,8,2.7,1,0,0,-2,-2.0
485,2014,381494,Christian Stewart,QB,BYU,FBS Independents,NaN,NaN,NaN,348,199,9,0.572,25,2621,7.5,NaN,NaN,NaN,NaN,NaN,82,25,4,163,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45095,2025,5212610,Ksaan Farrar,QB,UConn,FBS Independents,NaN,NaN,NaN,18,11,0,0.611,0,84,4.7,10,1,0,10,10.0,9,21,1,30,3.3
45155,2025,5218507,Matt Jeffery,WR,Notre Dame,FBS Independents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,1,0,37,37.0,NaN,NaN,NaN,NaN,NaN
45156,2025,5218514,Jack Larsen,TE,Notre Dame,FBS Independents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,3,0,30,10.0,NaN,NaN,NaN,NaN,NaN
46076,2025,5296864,Malichi Greaves,RB,UConn,FBS Independents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,1,0.5,3,10,0,15,5.0
46077,2025,5296866,Soren Rief,RB,UConn,FBS Independents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,9,0,9,4.5

In [ ]:
pd.set_option('display.max_rows', 10)

In [ ]:
merged_stats_df.columns

Index(['season', 'player_id', 'name', 'position', 'team', 'conference_x',
       'usage_passing_downs', 'usage_standard_downs', 'usage_third_down',
       'usage_second_down', 'usage_first_down', 'usage_rush', 'usage_var_pass',
       'usage_overall', 'avg_ppa_passing_downs', 'avg_ppa_standard_downs',
       'avg_ppa_third_down', 'avg_ppa_second_down', 'avg_ppa_first_down',
       'avg_ppa_rush', 'avg_ppa_var_pass', 'avg_ppa_all',
       'total_ppa_passing_downs', 'total_ppa_standard_downs',
       'total_ppa_third_down', 'total_ppa_second_down', 'total_ppa_first_down',
       'total_ppa_rush', 'total_ppa_var_pass', 'total_ppa_all', 'player_name',
       'fumbles_FUM', 'fumbles_LOST', 'fumbles_REC', 'passing_ATT',
       'passing_COMPLETIONS', 'passing_INT', 'passing_PCT', 'passing_TD',
       'passing_YDS', 'passing_YPA', 'receiving_LONG', 'receiving_REC',
       'receiving_TD', 'receiving_YDS', 'receiving_YPR', 'rushing_CAR',
       'rushing_LONG', 'rushing_TD', 'rushing_YDS', 'rushing_YPC'],
      dtype='object')

In [ ]:
merged_stats_df = merged_df.merge(
    player_stats_df,
    left_on = ['season', 'player_id', 'name', 'team', 'position'],
    right_on = ['season', 'player_id', 'player_name', 'team', 'position'],
    how = 'left'
)

merged_stats_df.drop('conference_y', inplace=True, axis = 1)

merged_stats_df = merged_stats_df.rename(columns={'conference_x' : 'conference'})

merged_stats_df

,season,player_id,name,position,team,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all,player_name,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_CAR,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC
0,2014,109907,Jon Lee,RB,Air Force,MWC,0.035,0.025,0.015,0.057,0.015,0.023,0.052,0.028,0.630,-0.128,-0.363,0.173,0.222,0.179,0.015,0.124,1.890,-0.770,-0.363,1.040,0.444,1.076,0.044,1.120,Jon Lee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,2,0,12,6.0,6,32,0,39,6.5
1,2014,147386,Josh Smith,WR,Akron,MAC,0.048,0.089,0.000,0.095,0.115,0.000,0.139,0.076,-1.026,0.155,NaN,-0.449,0.164,NaN,-0.081,-0.081,-1.026,0.620,0.000,-0.897,0.491,0.000,-0.406,-0.406,Josh Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,3,0,19,6.3,NaN,NaN,NaN,NaN,NaN
2,2014,183814,Cody Clay,TE,West Virginia,B12,0.013,0.017,0.009,0.022,0.012,0.004,0.028,0.016,0.373,0.161,1.843,0.797,0.336,-0.154,0.253,0.208,0.746,1.127,1.843,3.187,1.009,-0.154,2.028,1.874,Cody Clay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,7,0,65,9.3,1,4,0,4,4.0
3,2014,381477,Jefferson Court,TE,Utah State,MWC,0.010,0.036,0.085,0.010,0.015,0.000,0.061,0.027,2.047,0.910,0.754,1.900,1.373,NaN,1.052,1.052,2.047,6.367,3.768,1.900,2.746,0.000,8.414,8.414,Jefferson Court,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,6,3,26,4.3,NaN,NaN,NaN,NaN,NaN
4,2014,381494,Christian Stewart,QB,BYU,Ind,0.742,0.503,0.685,0.577,0.541,0.177,0.961,0.581,0.370,0.159,0.609,0.301,-0.001,0.183,0.257,0.246,65.782,39.932,60.911,41.559,-0.171,11.342,94.371,105.713,Christian Stewart,NaN,NaN,NaN,348,199,9,0.572,25,2621,7.5,NaN,NaN,NaN,NaN,NaN,82,25,4,163,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29843,2025,5298407,Mitchell Summers,RB,Sacred Heart,INDAA,0.144,0.313,0.175,0.257,0.322,0.398,0.048,0.265,0.585,0.043,0.660,0.004,0.045,0.098,0.578,0.128,15.806,6.264,15.846,0.224,4.122,15.714,6.355,22.070,Mitchell Summers,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,9,0,119,13.2,198,80,12,1071,5.4
29844,2025,5298427,DJ Williams,RB,Sacred Heart,INDAA,0.000,0.085,0.000,0.000,0.125,0.093,0.000,0.075,NaN,0.215,NaN,NaN,0.215,0.215,NaN,0.215,0.000,0.859,0.000,0.000,0.859,0.859,0.000,0.859,DJ Williams,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,14,0,27,6.8
29845,2025,5302266,Donovan Brown,WR,San Diego State,MWC,0.096,0.074,0.112,0.077,0.073,0.007,0.211,0.081,-0.100,0.343,-0.394,0.731,0.226,-0.610,0.222,0.181,-2.189,13.029,-6.692,13.885,5.202,-1.830,12.670,10.840,Donovan Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,33,2,518,15.7,3,6,0,8,2.7
29846,2025,5303173,Galamama Mulbah,RB,Merrimack,INDAA,0.022,0.106,0.062,0.063,0.093,0.124,0.011,0.075,-0.105,0.171,0.338,-0.286,0.234,0.163,-0.168,0.142,-0.523,7.194,2.703,-3.716,5.843,7.175,-0.503,6.672,Galamama Mulbah,2,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,1,0,20,20.0,47,45,2,240,5.1
29847,2025,5306715,Dj Jordan,WR,USC,B1G,0.000,0.023,0.000,0.000,0.030,0.000,0.037,0.017,NaN,0.134,NaN,NaN,0.134,NaN,0.134,0.134,0.000,0.134,0.000,0.000,0.134,0.000,0.134,0.134,Dj Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,0,3,3.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged_stats_df.to_csv('stats_merged_df.csv', index = False)
draft_picks_df.to_csv('draft_picks_df.csv', index = False)
rankings_df.to_csv('rankings_df.csv', index = False)

In [ ]:
import time
import os
import cfbd
from cfbd.models.poll_week import PollWeek
from cfbd.models.season_type import SeasonType
from cfbd.rest import ApiException
from pprint import pprint

# Defining the host is optional and defaults to https://api.collegefootballdata.com
# See configuration.py for a list of all supported configuration parameters.


# Enter a context with an instance of the API client
with cfbd.ApiClient(configuration) as api_client:
    # Create an instance of the API class
    api_instance = cfbd.RankingsApi(api_client)
    year = 2021 # int | Required year filter
    season_type = cfbd.SeasonType('regular') # SeasonType | Optional season type filter (optional)
    week = 16 # float | Optional week filter (optional)

    try:
        api_response = api_instance.get_rankings(year,
                                                 season_type=season_type,
                                                 week=week
                                                 )
        print("The response of RankingsApi->get_rankings:\n")
        pprint(api_response)
    except Exception as e:
        print("Exception when calling RankingsApi->get_rankings: %s\n" % e)

The response of RankingsApi->get_rankings:

[]

In [ ]:
api_response

[]

In [ ]:
for poll in api_response:
  print(poll)

season=2024 season_type=<SeasonType.REGULAR: 'regular'> week=16 polls=[Poll(poll='Playoff Committee Rankings', ranks=[PollRank(rank=1, team_id=2483, school='Oregon', conference='Big Ten', first_place_votes=0, points=0), PollRank(rank=2, team_id=61, school='Georgia', conference='SEC', first_place_votes=0, points=0), PollRank(rank=3, team_id=251, school='Texas', conference='SEC', first_place_votes=0, points=0), PollRank(rank=4, team_id=213, school='Penn State', conference='Big Ten', first_place_votes=0, points=0), PollRank(rank=5, team_id=87, school='Notre Dame', conference='FBS Independents', first_place_votes=0, points=0), PollRank(rank=6, team_id=194, school='Ohio State', conference='Big Ten', first_place_votes=0, points=0), PollRank(rank=7, team_id=2633, school='Tennessee', conference='SEC', first_place_votes=0, points=0), PollRank(rank=8, team_id=84, school='Indiana', conference='Big Ten', first_place_votes=0, points=0), PollRank(rank=9, team_id=68, school='Boise State', conference='Mountain West', first_place_votes=0, points=0), PollRank(rank=10, team_id=2567, school='SMU', conference='ACC', first_place_votes=0, points=0), PollRank(rank=11, team_id=333, school='Alabama', conference='SEC', first_place_votes=0, points=0), PollRank(rank=12, team_id=9, school='Arizona State', conference='Big 12', first_place_votes=0, points=0), PollRank(rank=13, team_id=2390, school='Miami', conference='ACC', first_place_votes=0, points=0), PollRank(rank=14, team_id=145, school='Ole Miss', conference='SEC', first_place_votes=0, points=0), PollRank(rank=15, team_id=2579, school='South Carolina', conference='SEC', first_place_votes=0, points=0), PollRank(rank=16, team_id=228, school='Clemson', conference='ACC', first_place_votes=0, points=0), PollRank(rank=17, team_id=252, school='BYU', conference='Big 12', first_place_votes=0, points=0), PollRank(rank=18, team_id=66, school='Iowa State', conference='Big 12', first_place_votes=0, points=0), PollRank(rank=19, team_id=142, school='Missouri', conference='SEC', first_place_votes=0, points=0), PollRank(rank=20, team_id=356, school='Illinois', conference='Big Ten', first_place_votes=0, points=0), PollRank(rank=21, team_id=183, school='Syracuse', conference='ACC', first_place_votes=0, points=0), PollRank(rank=22, team_id=349, school='Army', conference='American Athletic', first_place_votes=0, points=0), PollRank(rank=23, team_id=38, school='Colorado', conference='Big 12', first_place_votes=0, points=0), PollRank(rank=24, team_id=2439, school='UNLV', conference='Mountain West', first_place_votes=0, points=0), PollRank(rank=25, team_id=235, school='Memphis', conference='American Athletic', first_place_votes=0, points=0)]), Poll(poll='AP Top 25', ranks=[PollRank(rank=1, team_id=2483, school='Oregon', conference='Big Ten', first_place_votes=62, points=1550), PollRank(rank=2, team_id=61, school='Georgia', conference='SEC', first_place_votes=0, points=1474), PollRank(rank=3, team_id=87, school='Notre Dame', conference='FBS Independents', first_place_votes=0, points=1398), PollRank(rank=4, team_id=251, school='Texas', conference='SEC', first_place_votes=0, points=1356), PollRank(rank=5, team_id=213, school='Penn State', conference='Big Ten', first_place_votes=0, points=1258), PollRank(rank=6, team_id=194, school='Ohio State', conference='Big Ten', first_place_votes=0, points=1233), PollRank(rank=7, team_id=2633, school='Tennessee', conference='SEC', first_place_votes=0, points=1224), PollRank(rank=8, team_id=68, school='Boise State', conference='Mountain West', first_place_votes=0, points=1108), PollRank(rank=9, team_id=84, school='Indiana', conference='Big Ten', first_place_votes=0, points=1052), PollRank(rank=10, team_id=9, school='Arizona State', conference='Big 12', first_place_votes=0, points=1001), PollRank(rank=11, team_id=333, school='Alabama', conference='SEC', first_place_votes=0, points=838), PollRank(rank=12, team_id=2567, school='SMU', conference='ACC', first_place_votes=0, points=837), PollRank(rank=13, team_id=228, school='Clemson', conference='ACC', first_place_votes=0, points=827), PollRank(rank=14, team_id=2579, school='South Carolina', conference='SEC', first_place_votes=0, points=770), PollRank(rank=15, team_id=2390, school='Miami', conference='ACC', first_place_votes=0, points=697), PollRank(rank=16, team_id=145, school='Ole Miss', conference='SEC', first_place_votes=0, points=680), PollRank(rank=17, team_id=252, school='BYU', conference='Big 12', first_place_votes=0, points=531), PollRank(rank=18, team_id=66, school='Iowa State', conference='Big 12', first_place_votes=0, points=401), PollRank(rank=19, team_id=349, school='Army', conference='American Athletic', first_place_votes=0, points=363), PollRank(rank=20, team_id=38, school='Colorado', conference='Big 12', first_place_votes=0, points=329), PollRank(rank=21, team_id=356, school='Illinois', conference='Big Ten', first_place_votes=0, points=317), PollRank(rank=22, team_id=183, school='Syracuse', conference='ACC', first_place_votes=0, points=234), PollRank(rank=23, team_id=142, school='Missouri', conference='SEC', first_place_votes=0, points=228), PollRank(rank=24, team_id=2439, school='UNLV', conference='Mountain West', first_place_votes=0, points=144), PollRank(rank=25, team_id=235, school='Memphis', conference='American Athletic', first_place_votes=0, points=132)]), Poll(poll='Coaches Poll', ranks=[PollRank(rank=1, team_id=2483, school='Oregon', conference='Big Ten', first_place_votes=54, points=1350), PollRank(rank=2, team_id=61, school='Georgia', conference='SEC', first_place_votes=0, points=1281), PollRank(rank=3, team_id=87, school='Notre Dame', conference='FBS Independents', first_place_votes=0, points=1214), PollRank(rank=4, team_id=251, school='Texas', conference='SEC', first_place_votes=0, points=1178), PollRank(rank=5, team_id=213, school='Penn State', conference='Big Ten', first_place_votes=0, points=1080), PollRank(rank=6, team_id=2633, school='Tennessee', conference='SEC', first_place_votes=0, points=1069), PollRank(rank=7, team_id=194, school='Ohio State', conference='Big Ten', first_place_votes=0, points=1037), PollRank(rank=8, team_id=68, school='Boise State', conference='Mountain West', first_place_votes=0, points=929), PollRank(rank=9, team_id=84, school='Indiana', conference='Big Ten', first_place_votes=0, points=925), PollRank(rank=10, team_id=9, school='Arizona State', conference='Big 12', first_place_votes=0, points=856), PollRank(rank=11, team_id=333, school='Alabama', conference='SEC', first_place_votes=0, points=749), PollRank(rank=12, team_id=2567, school='SMU', conference='ACC', first_place_votes=0, points=741), PollRank(rank=13, team_id=228, school='Clemson', conference='ACC', first_place_votes=0, points=707), PollRank(rank=14, team_id=2579, school='South Carolina', conference='SEC', first_place_votes=0, points=668), PollRank(rank=15, team_id=145, school='Ole Miss', conference='SEC', first_place_votes=0, points=631), PollRank(rank=16, team_id=2390, school='Miami', conference='ACC', first_place_votes=0, points=611), PollRank(rank=17, team_id=252, school='BYU', conference='Big 12', first_place_votes=0, points=423), PollRank(rank=18, team_id=349, school='Army', conference='American Athletic', first_place_votes=0, points=361), PollRank(rank=19, team_id=66, school='Iowa State', conference='Big 12', first_place_votes=0, points=355), PollRank(rank=20, team_id=142, school='Missouri', conference='SEC', first_place_votes=0, points=282), PollRank(rank=21, team_id=356, school='Illinois', conference='Big Ten', first_place_votes=0, points=275), PollRank(rank=22, team_id=38, school='Colorado', conference='Big 12', first_place_votes=0, points=228), PollRank(rank=23, team_id=235, school='Memphis', conference='American Athletic', first_place_votes=0, points=166), PollRank(rank=24, team_id=2439, school='UNLV', conference='Mountain West', first_place_votes=0, points=140), PollRank(rank=25, team_id=183, school='Syracuse', conference='ACC', first_place_votes=0, points=129)])]

In [ ]:
poll_records = []
for poll_week in api_response:
  for poll in poll_week.polls:
    if poll.poll == 'AP Top 25': # Filter for AP Top 25 Poll
      for rank_data in poll.ranks:
        poll_records.append({
            'season': poll_week.season,
            'week':poll_week.week,
            'rank': rank_data.rank,
            'team_id' : rank_data.team_id,
            'school': rank_data.school,
            'points':rank_data.points,
            'first_place_votes':rank_data.first_place_votes
        })

pd.DataFrame(poll_records)

    season  week  rank  team_id          school  points  first_place_votes
0     2024    16     1     2483          Oregon    1550                 62
1     2024    16     2       61         Georgia    1474                  0
2     2024    16     3       87      Notre Dame    1398                  0
3     2024    16     4      251           Texas    1356                  0
4     2024    16     5      213      Penn State    1258                  0
5     2024    16     6      194      Ohio State    1233                  0
6     2024    16     7     2633       Tennessee    1224                  0
7     2024    16     8       68     Boise State    1108                  0
8     2024    16     9       84         Indiana    1052                  0
9     2024    16    10        9   Arizona State    1001                  0
10    2024    16    11      333         Alabama     838                  0
11    2024    16    12     2567             SMU     837                  0
12    2024    16    13      228         Clemson     827                  0
13    2024    16    14     2579  South Carolina     770                  0
14    2024    16    15     2390           Miami     697                  0
15    2024    16    16      145        Ole Miss     680                  0
16    2024    16    17      252             BYU     531                  0
17    2024    16    18       66      Iowa State     401                  0
18    2024    16    19      349            Army     363                  0
19    2024    16    20       38        Colorado     329                  0
20    2024    16    21      356        Illinois     317                  0
21    2024    16    22      183        Syracuse     234                  0
22    2024    16    23      142        Missouri     228                  0
23    2024    16    24     2439            UNLV     144                  0
24    2024    16    25      235         Memphis     132                  0

In [ ]:
import time
import os
import cfbd
from cfbd.models.player_stat import PlayerStat
from cfbd.models.season_type import SeasonType
from cfbd.rest import ApiException
from pprint import pprint

# Enter a context with an instance of the API client
with cfbd.ApiClient(configuration) as api_client:
    # Create an instance of the API class
    api_instance = cfbd.StatsApi(api_client)
    year = 2023 # int | Required year filter
    #conference = 'conference_example' # str | Optional conference filter (optional)
    team = 'Nebraska' # str | Optional team filter (optional)
    #start_week = 56 # int | Optional starting week range (optional)
    #end_week = 56 # int | Optional ending week range (optional)
    season_type = cfbd.SeasonType('regular') # SeasonType | Optional season type filter (optional)
    #category = 'category_example' # str | Optional category filter (optional)

    try:
        api_response = api_instance.get_player_season_stats(year = year,
                                                            #conference=conference,
                                                            team=team,
                                                            #start_week=start_week, end_week=end_week, season_type=season_type, category=category
                                                            )
        print("The response of StatsApi->get_player_season_stats:\n")
        pprint(api_response)
    except Exception as e:
        print("Exception when calling StatsApi->get_player_season_stats: %s\n" % e)

The response of StatsApi->get_player_season_stats:

[PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='PD', stat='0'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='QB HUR', stat='0'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SACKS', stat='0'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SOLO', stat='1'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TFL', stat='0'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TOT', stat='1'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='FUM', stat='3'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='LOST', stat='2'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='REC', stat='0'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='LONG', stat='9'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='REC', stat='4'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='YDS', stat='13'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='YPR', stat='3.3'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='CAR', stat='104'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='LONG', stat='34'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='TD', stat='3'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YDS', stat='413'),
 PlayerStat(season=2023, player_id='4363033', player='Anthony Grant', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YPC', stat='4.0'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='FUM', stat='1'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='LOST', stat='0'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='REC', stat='0'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='puntReturns', stat_type='AVG', stat='4.0'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='puntReturns', stat_type='LONG', stat='8'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='puntReturns', stat_type='NO', stat='6'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='puntReturns', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='puntReturns', stat_type='YDS', stat='24'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='LONG', stat='34'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='REC', stat='35'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='TD', stat='1'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='YDS', stat='310'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='YPR', stat='8.9'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='CAR', stat='3'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='LONG', stat='9'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='TD', stat='1'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YDS', stat='13'),
 PlayerStat(season=2023, player_id='4370797', player='Billy Kemp', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YPC', stat='4.3'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='FUM', stat='1'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='LOST', stat='0'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='REC', stat='0'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='LONG', stat='25'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='REC', stat='8'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='YDS', stat='69'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='receiving', stat_type='YPR', stat='8.6'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='CAR', stat='17'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='LONG', stat='74'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='TD', stat='1'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YDS', stat='130'),
 PlayerStat(season=2023, player_id='4373016', player='Josh Fleeks', position='WR', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YPC', stat='7.6'),
 PlayerStat(season=2023, player_id='4382696', player='Timmy Bleekrode', position='PK', team='Nebraska', conference='Big Ten', category='rushing', stat_type='CAR', stat='1'),
 PlayerStat(season=2023, player_id='4382696', player='Timmy Bleekrode', position='PK', team='Nebraska', conference='Big Ten', category='rushing', stat_type='LONG', stat='10'),
 PlayerStat(season=2023, player_id='4382696', player='Timmy Bleekrode', position='PK', team='Nebraska', conference='Big Ten', category='rushing', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4382696', player='Timmy Bleekrode', position='PK', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YDS', stat='10'),
 PlayerStat(season=2023, player_id='4382696', player='Timmy Bleekrode', position='PK', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YPC', stat='10.0'),
 PlayerStat(season=2023, player_id='4426511', player='Nick Henrich', position='LB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='PD', stat='1'),
 PlayerStat(season=2023, player_id='4426511', player='Nick Henrich', position='LB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='QB HUR', stat='1'),
 PlayerStat(season=2023, player_id='4426511', player='Nick Henrich', position='LB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SACKS', stat='2'),
 PlayerStat(season=2023, player_id='4426511', player='Nick Henrich', position='LB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SOLO', stat='20'),
 PlayerStat(season=2023, player_id='4426511', player='Nick Henrich', position='LB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4426511', player='Nick Henrich', position='LB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TFL', stat='4.5'),
 PlayerStat(season=2023, player_id='4426511', player='Nick Henrich', position='LB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TOT', stat='42'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='PD', stat='3'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='QB HUR', stat='0'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SACKS', stat='0'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SOLO', stat='35'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TFL', stat='3.0'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TOT', stat='51'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='FUM', stat='0'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='LOST', stat='0'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='REC', stat='1'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='interceptions', stat_type='AVG', stat='0.0'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='interceptions', stat_type='INT', stat='1'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='interceptions', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4426794', player='Omar Brown', position='DB', team='Nebraska', conference='Big Ten', category='interceptions', stat_type='YDS', stat='0'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='kickReturns', stat_type='AVG', stat='34.0'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='kickReturns', stat_type='LONG', stat='63'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='kickReturns', stat_type='NO', stat='3'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='kickReturns', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='kickReturns', stat_type='YDS', stat='102'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='LONG', stat='6'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='REC', stat='3'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='YDS', stat='9'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='receiving', stat_type='YPR', stat='3.0'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='CAR', stat='12'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='LONG', stat='44'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YDS', stat='65'),
 PlayerStat(season=2023, player_id='4427609', player='Rahmir Johnson', position='RB', team='Nebraska', conference='Big Ten', category='rushing', stat_type='YPC', stat='5.4'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='PD', stat='3'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='QB HUR', stat='0'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SACKS', stat='0'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SOLO', stat='20'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TFL', stat='1'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TOT', stat='37'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='FUM', stat='0'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='LOST', stat='0'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='fumbles', stat_type='REC', stat='1'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='interceptions', stat_type='AVG', stat='39.0'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='interceptions', stat_type='INT', stat='1'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='interceptions', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4428113', player='Quinton Newsome', position='DB', team='Nebraska', conference='Big Ten', category='interceptions', stat_type='YDS', stat='39'),
 PlayerStat(season=2023, player_id='4428139', player='Nouredin Nouili', position='OL', team='Nebraska', conference='Big Ten', category='defensive', stat_type='PD', stat='0'),
 PlayerStat(season=2023, player_id='4428139', player='Nouredin Nouili', position='OL', team='Nebraska', conference='Big Ten', category='defensive', stat_type='QB HUR', stat='0'),
 PlayerStat(season=2023, player_id='4428139', player='Nouredin Nouili', position='OL', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SACKS', stat='0'),
 PlayerStat(season=2023, player_id='4428139', player='Nouredin Nouili', position='OL', team='Nebraska', conference='Big Ten', category='defensive', stat_type='SOLO', stat='1'),
 PlayerStat(season=2023, player_id='4428139', player='Nouredin Nouili', position='OL', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TD', stat='0'),
 PlayerStat(season=2023, player_id='4428139', player='Nouredin Nouili', position='OL', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TFL', stat='0'),
 PlayerStat(season=2023, player_id='4428139', player='Nouredin Nouili', position='OL', team='Nebraska', conference='Big Ten', category='defensive', stat_type='TOT', stat='1'),
 PlayerStat(season=2023, player_id='4428544', player='Garrett Snodgrass', position='LB', team='Nebraska', conference='Big Ten', category='defensive', stat_type='PD', stat='0'),

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
weekly_stats_list = []
for player in api_response:
  weekly_stats_list.append(player.to_dict())

player_stats_df1 = pd.DataFrame(weekly_stats_list)

player_stats_df1 = player_stats_df1.rename(columns={'playerId' : 'player_id', 'player' : 'player_name', 'statType' : 'stat_type', 'stat' : 'stat_value'})

# filtering for offensive plays
player_stats_df1 = player_stats_df1[player_stats_df1.category.isin(['passing', 'receiving', 'rushing', 'fumbles'])]

# filtering for WR, RB, QBs, & TE
player_stats_df1 = player_stats_df1[player_stats_df1.position.isin(['WR', 'QB', "RB", 'TE'])]

# Create a combined stat type to avoid duplicates when pivoting to wide format
player_stats_df1['combined_stat_type'] = player_stats_df1['category'] + '_' + player_stats_df1['stat_type']

pivoted_player_stats = player_stats_df1.pivot_table(
    index=['season', 'player_id', 'player_name', 'position', 'team', 'conference'],
    columns='combined_stat_type',
    values='stat_value',
    aggfunc='first' # takes the first value if there are duplicates
).reset_index()

display(pivoted_player_stats.head())

combined_stat_type,season,player_id,player_name,position,team,conference,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_CAR,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC
0,2023,4363033,Anthony Grant,RB,Nebraska,Big Ten,3,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,4,0,13,3.3,104,34,3,413,4.0
1,2023,4370797,Billy Kemp,WR,Nebraska,Big Ten,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,35,1,310,8.9,3,9,1,13,4.3
2,2023,4373016,Josh Fleeks,WR,Nebraska,Big Ten,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,8,0,69,8.6,17,74,1,130,7.6
3,2023,4427609,Rahmir Johnson,RB,Nebraska,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,3,0,9,3.0,12,44,0,65,5.4
4,2023,4429066,Jeff Sims,QB,Nebraska,Big Ten,4,4,0,47,28,6,0.596,1,282,6.0,NaN,NaN,NaN,NaN,NaN,42,57,1,189,4.5

In [ ]:
player_stats_df.category.unique()

array(['receiving', 'rushing', 'fumbles', 'passing'], dtype=object)

In [ ]:
pivoted_player_stats[pivoted_player_stats.player_name == 'Kyle McCord']

combined_stat_type,season,player_id,player_name,position,team,conference,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_CAR,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC
1,2024,4433971,Kyle McCord,QB,Syracuse,ACC,5,0,0,592,391,12,0.660,34,4779,8.1,NaN,NaN,NaN,NaN,NaN,67,29,3,-65,-1.0