In [7]:
%pip install pandas

Requirement already satisfied: pandas in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
combine = pd.read_csv("draft_combine_nflreadpy.csv")
combine.head()

,Unnamed: 0,pfr_player_id,cfb_player_id,season,round,pick,team,pfr_player_name,position,category,...,cone,shuttle,pfr_id,birth_date,height,weight,rookie_season,last_season,birth_year,age
0,0,BortBl00,blake-bortles-1,2014,1,3,JAX,Blake Bortles,QB,QB,...,7.08,4.21,BortBl00,1992-04-28,77.0,236.0,2014.0,2021.0,1992.0,22.0
1,1,WatkSa00,sammy-watkins-1,2014,1,4,BUF,Sammy Watkins,WR,WR,...,6.95,4.34,WatkSa00,1993-06-14,73.0,211.0,2014.0,2022.0,1993.0,21.0
2,2,EvanMi00,mike-evans-4,2014,1,7,TAM,Mike Evans,WR,WR,...,7.08,4.26,EvanMi00,1993-08-21,77.0,231.0,2014.0,2025.0,1993.0,21.0
3,3,EbroEr00,eric-ebron-1,2014,1,10,DET,Eric Ebron,TE,TE,...,NaN,NaN,EbroEr00,1993-04-10,76.0,253.0,2014.0,2021.0,1993.0,21.0
4,4,BeckOd00,odell-beckham-jr-1,2014,1,12,NYG,Odell Beckham Jr.,WR,WR,...,NaN,NaN,BeckOd00,1992-11-05,71.0,200.0,2014.0,2024.0,1992.0,22.0

In [9]:
draft = pd.read_csv("draft_picks_df_cfbd.csv")
draft['position'] = draft['position'].replace('Quarterback','QB')
draft['position'] = draft['position'].replace('Running Back','RB')
draft['position'] = draft['position'].replace('Wide Receiver','WR')
draft['position'] = draft['position'].replace('Tight End','TE')
positions = ['QB','RB','WR','TE']
draft = draft[draft['position'].isin(positions)]
draft.head()

,college_athlete_id,nfl_athlete_id,college_id,college_team,college_conference,nfl_team_id,nfl_team,position,name,year,round,pick_number,overall,height_in,weight_lbs,pre_draft_position_ranking,pre_draft_grade
2,505719.0,34717,2116,UCF,American Athletic,30,Jacksonville,QB,Blake Bortles,2014,1,3,3,77.0,232.0,1.0,91.0
3,512839.0,33609,228,Clemson,ACC,2,Buffalo,WR,Sammy Watkins,2014,1,4,4,73.0,211.0,1.0,96.0
6,517502.0,34120,245,Texas A&M,SEC,27,Tampa Bay,WR,Mike Evans,2014,1,7,7,77.0,231.0,2.0,94.0
9,516329.0,33617,153,North Carolina,ACC,8,Detroit,TE,Eric Ebron,2014,1,10,10,76.0,250.0,1.0,92.0
11,517215.0,33072,99,LSU,SEC,19,New York,WR,Odell Beckham Jr.,2014,1,12,12,71.0,198.0,3.0,93.0

In [10]:
stats = pd.read_csv("stats_merged_df.csv")
stats = stats[stats['position'].isin(positions)]
stats.head()

,season,player_id,name,position,team,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,...,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_CAR,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC
0,2014,109907,Jon Lee,RB,Air Force,MWC,0.035,0.025,0.015,0.057,...,7.0,2.0,0.0,12.0,6.0,6.0,32.0,0.0,39.0,6.5
1,2014,147386,Josh Smith,WR,Akron,MAC,0.048,0.089,0.000,0.095,...,8.0,3.0,0.0,19.0,6.3,NaN,NaN,NaN,NaN,NaN
2,2014,183814,Cody Clay,TE,West Virginia,B12,0.013,0.017,0.009,0.022,...,21.0,7.0,0.0,65.0,9.3,1.0,4.0,0.0,4.0,4.0
3,2014,381477,Jefferson Court,TE,Utah State,MWC,0.010,0.036,0.085,0.010,...,10.0,6.0,3.0,26.0,4.3,NaN,NaN,NaN,NaN,NaN
4,2014,381494,Christian Stewart,QB,BYU,Ind,0.742,0.503,0.685,0.577,...,NaN,NaN,NaN,NaN,NaN,82.0,25.0,4.0,163.0,2.0

In [11]:
merge1 = stats.merge(
    draft,
    how = "left",
    left_on = ["player_id"],
    right_on= ["college_athlete_id"]
)
merge1.head()

,season,player_id,name_x,position_x,team,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,...,position_y,name_y,year,round,pick_number,overall,height_in,weight_lbs,pre_draft_position_ranking,pre_draft_grade
0,2014,109907,Jon Lee,RB,Air Force,MWC,0.035,0.025,0.015,0.057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,147386,Josh Smith,WR,Akron,MAC,0.048,0.089,0.000,0.095,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,183814,Cody Clay,TE,West Virginia,B12,0.013,0.017,0.009,0.022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,381477,Jefferson Court,TE,Utah State,MWC,0.010,0.036,0.085,0.010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,381494,Christian Stewart,QB,BYU,Ind,0.742,0.503,0.685,0.577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
final = merge1.merge(
    combine,
    how = "left",
    left_on= ["year","overall"],
    right_on= ["season","pick"]
)
final.head()

,season_x,player_id,name_x,position_x,team_x,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,...,cone,shuttle,pfr_id,birth_date,height,weight,rookie_season,last_season,birth_year,age
0,2014,109907,Jon Lee,RB,Air Force,MWC,0.035,0.025,0.015,0.057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,147386,Josh Smith,WR,Akron,MAC,0.048,0.089,0.000,0.095,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,183814,Cody Clay,TE,West Virginia,B12,0.013,0.017,0.009,0.022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,381477,Jefferson Court,TE,Utah State,MWC,0.010,0.036,0.085,0.010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,381494,Christian Stewart,QB,BYU,Ind,0.742,0.503,0.685,0.577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
final.to_csv("merged.csv")