In [4]:
import pandas as pd
combine = pd.read_csv("draft_combine_nflreadpy.csv").iloc[:,1:]
combine.head()

,pfr_player_id,cfb_player_id,season,round,pick,team,pfr_player_name,position,category,college,...,cone,shuttle,pfr_id,birth_date,height,weight,rookie_season,last_season,birth_year,age
0,BortBl00,blake-bortles-1,2014,1,3,JAX,Blake Bortles,QB,QB,Central Florida,...,7.08,4.21,BortBl00,1992-04-28,77.0,236.0,2014.0,2021.0,1992.0,22.0
1,WatkSa00,sammy-watkins-1,2014,1,4,BUF,Sammy Watkins,WR,WR,Clemson,...,6.95,4.34,WatkSa00,1993-06-14,73.0,211.0,2014.0,2022.0,1993.0,21.0
2,EvanMi00,mike-evans-4,2014,1,7,TAM,Mike Evans,WR,WR,Texas A&M,...,7.08,4.26,EvanMi00,1993-08-21,77.0,231.0,2014.0,2025.0,1993.0,21.0
3,EbroEr00,eric-ebron-1,2014,1,10,DET,Eric Ebron,TE,TE,North Carolina,...,NaN,NaN,EbroEr00,1993-04-10,76.0,253.0,2014.0,2021.0,1993.0,21.0
4,BeckOd00,odell-beckham-jr-1,2014,1,12,NYG,Odell Beckham Jr.,WR,WR,LSU,...,NaN,NaN,BeckOd00,1992-11-05,71.0,200.0,2014.0,2024.0,1992.0,22.0

In [5]:
draft = pd.read_csv("draft_picks_df_cfbd.csv")
draft['position'] = draft['position'].replace('Quarterback','QB')
draft['position'] = draft['position'].replace('Running Back','RB')
draft['position'] = draft['position'].replace('Wide Receiver','WR')
draft['position'] = draft['position'].replace('Tight End','TE')
positions = ['QB','RB','WR','TE']
draft = draft[draft['position'].isin(positions)]
draft.head()

,college_athlete_id,nfl_athlete_id,college_id,college_team,college_conference,nfl_team_id,nfl_team,position,name,year,round,pick_number,overall,height_in,weight_lbs,pre_draft_position_ranking,pre_draft_grade
2,505719.0,34717,2116,UCF,American Athletic,30,Jacksonville,QB,Blake Bortles,2014,1,3,3,77.0,232.0,1.0,91.0
3,512839.0,33609,228,Clemson,ACC,2,Buffalo,WR,Sammy Watkins,2014,1,4,4,73.0,211.0,1.0,96.0
6,517502.0,34120,245,Texas A&M,SEC,27,Tampa Bay,WR,Mike Evans,2014,1,7,7,77.0,231.0,2.0,94.0
9,516329.0,33617,153,North Carolina,ACC,8,Detroit,TE,Eric Ebron,2014,1,10,10,76.0,250.0,1.0,92.0
11,517215.0,33072,99,LSU,SEC,19,New York,WR,Odell Beckham Jr.,2014,1,12,12,71.0,198.0,3.0,93.0

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
stats = pd.read_csv("stats_merged_df.csv")
stats = stats[stats['position'].isin(positions)]
stats.head()

,season,player_id,name,position,team,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all,player_name,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_CAR,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC
0,2014,109907,Jon Lee,RB,Air Force,MWC,0.035,0.025,0.015,0.057,0.015,0.023,0.052,0.028,0.630,-0.128,-0.363,0.173,0.222,0.179,0.015,0.124,1.890,-0.770,-0.363,1.040,0.444,1.076,0.044,1.120,Jon Lee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,0.0,12.0,6.0,6.0,32.0,0.0,39.0,6.5
1,2014,147386,Josh Smith,WR,Akron,MAC,0.048,0.089,0.000,0.095,0.115,0.000,0.139,0.076,-1.026,0.155,NaN,-0.449,0.164,NaN,-0.081,-0.081,-1.026,0.620,0.000,-0.897,0.491,0.000,-0.406,-0.406,Josh Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,0.0,19.0,6.3,NaN,NaN,NaN,NaN,NaN
2,2014,183814,Cody Clay,TE,West Virginia,B12,0.013,0.017,0.009,0.022,0.012,0.004,0.028,0.016,0.373,0.161,1.843,0.797,0.336,-0.154,0.253,0.208,0.746,1.127,1.843,3.187,1.009,-0.154,2.028,1.874,Cody Clay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,7.0,0.0,65.0,9.3,1.0,4.0,0.0,4.0,4.0
3,2014,381477,Jefferson Court,TE,Utah State,MWC,0.010,0.036,0.085,0.010,0.015,0.000,0.061,0.027,2.047,0.910,0.754,1.900,1.373,NaN,1.052,1.052,2.047,6.367,3.768,1.900,2.746,0.000,8.414,8.414,Jefferson Court,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,6.0,3.0,26.0,4.3,NaN,NaN,NaN,NaN,NaN
4,2014,381494,Christian Stewart,QB,BYU,Ind,0.742,0.503,0.685,0.577,0.541,0.177,0.961,0.581,0.370,0.159,0.609,0.301,-0.001,0.183,0.257,0.246,65.782,39.932,60.911,41.559,-0.171,11.342,94.371,105.713,Christian Stewart,NaN,NaN,NaN,348.0,199.0,9.0,0.572,25.0,2621.0,7.5,NaN,NaN,NaN,NaN,NaN,82.0,25.0,4.0,163.0,2.0

In [13]:
stats['college_season_played'] = stats.groupby('player_id')['season'].transform(lambda x: x - x.min() + 1)
stats.sort_values(['player_id', 'season'], ascending=True)

,season,player_id,name,position,team,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all,player_name,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_CAR,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC,college_season_played
2187,2015,100009,Johnny Jackson,WR,Arizona,PAC,0.104,0.049,0.094,0.065,0.055,0.000,0.133,0.065,0.953,0.413,1.314,0.839,0.415,NaN,0.674,0.674,28.600,13.214,22.345,16.772,9.542,0.000,41.813,41.813,Johnny Jackson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,50.0,5.0,612.0,12.2,NaN,NaN,NaN,NaN,NaN,1
18828,2022,102597,Will Rogers,QB,Mississippi State,SEC,0.822,0.652,0.767,0.753,0.641,0.085,0.961,0.698,0.363,0.143,0.512,0.126,0.166,-0.454,0.239,0.214,75.558,62.666,69.132,28.352,44.380,-10.432,148.656,138.224,Will Rogers,8.0,5.0,0.0,610.0,414.0,8.0,0.679,35.0,3963.0,6.5,13.0,1.0,0.0,13.0,13.0,44.0,15.0,0.0,-165.0,-3.8,1
21674,2023,102597,Will Rogers,QB,Mississippi State,SEC,0.648,0.443,0.673,0.515,0.426,0.069,0.949,0.516,0.478,0.045,0.549,0.509,-0.171,0.092,0.248,0.238,55.471,6.572,39.511,43.812,-15.777,1.569,60.473,62.043,Will Rogers,2.0,1.0,0.0,237.0,142.0,4.0,0.599,12.0,1626.0,6.9,NaN,NaN,NaN,NaN,NaN,29.0,15.0,1.0,-13.0,-0.4,2
24358,2024,102597,Will Rogers,QB,Washington,B1G,0.634,0.404,0.600,0.471,0.411,0.046,0.823,0.464,0.448,0.299,0.317,0.496,0.335,-0.245,0.381,0.352,52.025,62.722,23.791,53.070,44.890,-3.682,118.430,114.748,Will Rogers,5.0,2.0,1.0,311.0,220.0,7.0,0.707,14.0,2458.0,7.9,NaN,NaN,NaN,NaN,NaN,34.0,20.0,0.0,-79.0,-2.3,3
14119,2020,107494,Trey Sanders,RB,Alabama,SEC,0.104,0.109,0.020,0.146,0.117,0.207,0.007,0.108,-0.441,0.018,-0.462,-0.260,0.057,-0.066,-0.843,-0.092,-3.087,0.406,-0.462,-3.124,0.905,-1.838,-0.843,-2.681,Trey Sanders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,-2.0,-2.0,29.0,25.0,0.0,129.0,4.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29843,2025,5298407,Mitchell Summers,RB,Sacred Heart,INDAA,0.144,0.313,0.175,0.257,0.322,0.398,0.048,0.265,0.585,0.043,0.660,0.004,0.045,0.098,0.578,0.128,15.806,6.264,15.846,0.224,4.122,15.714,6.355,22.070,Mitchell Summers,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,9.0,0.0,119.0,13.2,198.0,80.0,12.0,1071.0,5.4,1
29844,2025,5298427,DJ Williams,RB,Sacred Heart,INDAA,0.000,0.085,0.000,0.000,0.125,0.093,0.000,0.075,NaN,0.215,NaN,NaN,0.215,0.215,NaN,0.215,0.000,0.859,0.000,0.000,0.859,0.859,0.000,0.859,DJ Williams,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,14.0,0.0,27.0,6.8,1
29845,2025,5302266,Donovan Brown,WR,San Diego State,MWC,0.096,0.074,0.112,0.077,0.073,0.007,0.211,0.081,-0.100,0.343,-0.394,0.731,0.226,-0.610,0.222,0.181,-2.189,13.029,-6.692,13.885,5.202,-1.830,12.670,10.840,Donovan Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,33.0,2.0,518.0,15.7,3.0,6.0,0.0,8.0,2.7,1
29846,2025,5303173,Galamama Mulbah,RB,Merrimack,INDAA,0.022,0.106,0.062,0.063,0.093,0.124,0.011,0.075,-0.105,0.171,0.338,-0.286,0.234,0.163,-0.168,0.142,-0.523,7.194,2.703,-3.716,5.843,7.175,-0.503,6.672,Galamama Mulbah,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,1.0,0.0,20.0,20.0,47.0,45.0,2.0,240.0,5.1,1
29847,2025,5306715,Dj Jordan,WR,USC,B1G,0.000,0.023,0.000,0.000,0.030,0.000,0.037,0.017,NaN,0.134,NaN,NaN,0.134,NaN,0.134,0.134,0.000,0.134,0.000,0.000,0.134,0.000,0.134,0.134,Dj Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,0.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,1

In [21]:
stats.columns

Index(['season', 'player_id', 'name', 'position', 'team', 'conference',
       'usage_passing_downs', 'usage_standard_downs', 'usage_third_down',
       'usage_second_down', 'usage_first_down', 'usage_rush', 'usage_var_pass',
       'usage_overall', 'avg_ppa_passing_downs', 'avg_ppa_standard_downs',
       'avg_ppa_third_down', 'avg_ppa_second_down', 'avg_ppa_first_down',
       'avg_ppa_rush', 'avg_ppa_var_pass', 'avg_ppa_all',
       'total_ppa_passing_downs', 'total_ppa_standard_downs',
       'total_ppa_third_down', 'total_ppa_second_down', 'total_ppa_first_down',
       'total_ppa_rush', 'total_ppa_var_pass', 'total_ppa_all', 'player_name',
       'fumbles_FUM', 'fumbles_LOST', 'fumbles_REC', 'passing_ATT',
       'passing_COMPLETIONS', 'passing_INT', 'passing_PCT', 'passing_TD',
       'passing_YDS', 'passing_YPA', 'receiving_LONG', 'receiving_REC',
       'receiving_TD', 'receiving_YDS', 'receiving_YPR', 'rushing_CAR',
       'rushing_LONG', 'rushing_TD', 'rushing_YDS', 'rushing_YPC',
       'college_season_played'],
      dtype='object')

In [40]:
import numpy as np

stats1 = stats.copy()

stats1 = stats1.sort_values(['player_id', 'season'], ascending=True)

# Taking the Weighted Mean of All Statistics in a player's college career
# Weights are determined by their college season (ie Stats from
# first season played are weighted as 1 and 4th season
# played are weighted as 4, etc.)
stats1 = stats1.groupby(['player_id', 'name', 'position']).agg(
    team = ('team', 'last'),
    season = ('season', 'max'),
    conference = ('conference', 'last'),
    usage_passing_downs = ('usage_passing_downs',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    usage_standard_downs = ('usage_standard_downs',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    usage_third_down = ('usage_third_down',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    usage_second_down = ('usage_second_down',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    usage_first_down = ('usage_first_down',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    usage_rush = ('usage_rush',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    usage_var_pass = ('usage_var_pass',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    usage_overall = ('usage_overall',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    avg_ppa_passing_downs = ('avg_ppa_passing_downs',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    avg_ppa_standard_downs = ('avg_ppa_standard_downs',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    avg_ppa_third_down = ('avg_ppa_third_down', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    avg_ppa_second_down = ('avg_ppa_second_down', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    avg_ppa_first_down = ('avg_ppa_first_down', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    avg_ppa_rush = ('avg_ppa_rush', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    avg_ppa_var_pass = ('avg_ppa_var_pass', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    avg_ppa_all = ('avg_ppa_all', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    total_ppa_passing_downs = ('total_ppa_passing_downs',
                  lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    total_ppa_standard_downs = ('total_ppa_standard_downs', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    total_ppa_third_down = ('total_ppa_third_down', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    total_ppa_second_down = ('total_ppa_second_down', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    total_ppa_first_down = ('total_ppa_first_down', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    total_ppa_rush = ('total_ppa_rush', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    total_ppa_var_pass = ('total_ppa_var_pass', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    total_ppa_all = ('total_ppa_all', lambda x: np.average(x,weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    fumbles_FUM = ('fumbles_FUM', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    fumbles_LOST = ('fumbles_LOST', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    fumbles_REC = ('fumbles_REC', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    passing_ATT = ('passing_ATT', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    passing_COMPLETIONS = ('passing_COMPLETIONS', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    passing_INT = ('passing_INT', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    passing_PCT = ('passing_PCT', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    passing_TD = ('passing_TD', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    passing_YDS = ('passing_YDS', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    passing_YPA = ('passing_YPA', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    receiving_LONG = ('receiving_LONG', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    receiving_REC = ('receiving_REC', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    receiving_TD = ('receiving_TD', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    receiving_YDS = ('receiving_YDS', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    receiving_YPR = ('receiving_YPR', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    rushing_ATT = ('rushing_CAR', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    rushing_LONG = ('rushing_LONG', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0))),
    rushing_TD = ('rushing_TD', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    rushing_YDS = ('rushing_YDS', lambda x: np.average(x, weights=stats1.loc[x.index, 'college_season_played'].fillna(0))),
    rushing_YPC = ('rushing_YPC', lambda x: np.average(x, weights = stats1.loc[x.index, 'college_season_played'].fillna(0)))
).reset_index(drop = False)

stats1

,player_id,name,position,team,season,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_ATT,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC
0,100009,Johnny Jackson,WR,Arizona,2015,PAC,0.104000,0.049000,0.094000,0.065000,0.055000,0.000000,0.133000,0.065000,0.953000,0.413000,1.314000,0.839000,0.415000,NaN,0.674,0.6740,28.600000,13.214000,22.345000,16.772000,9.542000,0.000000,41.813000,41.813000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,50.0,5.0,612.0,12.2,NaN,NaN,NaN,NaN,NaN
1,102597,Will Rogers,QB,Washington,2024,B1G,0.670000,0.458333,0.652167,0.532667,0.454333,0.060167,0.888000,0.520333,0.443833,0.188333,0.426833,0.438667,0.138167,-0.1675,0.313,0.2910,57.095833,43.996000,36.587833,45.864333,24.582667,-3.056667,104.148667,101.092333,4.5,2.166667,0.5,336.166667,226.333333,6.166667,0.666333,16.833333,2431.5,7.333333,NaN,NaN,NaN,NaN,NaN,34.000000,17.500000,0.333333,-71.333333,-1.916667
2,107494,Trey Sanders,RB,TCU,2024,B12,0.043400,0.068400,0.047267,0.071533,0.058267,0.119733,0.008867,0.060600,0.646133,0.010467,0.280800,-0.090933,-0.006867,0.1442,NaN,0.1604,2.071933,2.040267,3.381200,-0.835133,-0.067467,3.438600,0.674133,4.112733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.466667,15.333333,2.066667,128.733333,4.173333
3,109907,Jon Lee,RB,Air Force,2014,MWC,0.035000,0.025000,0.015000,0.057000,0.015000,0.023000,0.052000,0.028000,0.630000,-0.128000,-0.363000,0.173000,0.222000,0.1790,0.015,0.1240,1.890000,-0.770000,-0.363000,1.040000,0.444000,1.076000,0.044000,1.120000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,0.0,12.0,6.0,6.000000,32.000000,0.000000,39.000000,6.500000
4,136429,Cedric Patterson III,WR,Rice,2022,CUSA,0.077333,0.033667,0.116667,0.018000,0.045000,0.022667,0.086667,0.050667,0.224000,0.066333,0.166000,NaN,0.191333,0.1360,0.150,0.1760,6.349333,6.364667,3.909000,2.029667,6.775333,0.465333,12.248333,12.714000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.666667,15.333333,0.333333,16.000000,7.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12403,5298407,Mitchell Summers,RB,Sacred Heart,2025,INDAA,0.144000,0.313000,0.175000,0.257000,0.322000,0.398000,0.048000,0.265000,0.585000,0.043000,0.660000,0.004000,0.045000,0.0980,0.578,0.1280,15.806000,6.264000,15.846000,0.224000,4.122000,15.714000,6.355000,22.070000,1.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,9.0,0.0,119.0,13.2,198.000000,80.000000,12.000000,1071.000000,5.400000
12404,5298427,DJ Williams,RB,Sacred Heart,2025,INDAA,0.000000,0.085000,0.000000,0.000000,0.125000,0.093000,0.000000,0.075000,NaN,0.215000,NaN,NaN,0.215000,0.2150,NaN,0.2150,0.000000,0.859000,0.000000,0.000000,0.859000,0.859000,0.000000,0.859000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,14.000000,0.000000,27.000000,6.800000
12405,5302266,Donovan Brown,WR,San Diego State,2025,MWC,0.096000,0.074000,0.112000,0.077000,0.073000,0.007000,0.211000,0.081000,-0.100000,0.343000,-0.394000,0.731000,0.226000,-0.6100,0.222,0.1810,-2.189000,13.029000,-6.692000,13.885000,5.202000,-1.830000,12.670000,10.840000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,33.0,2.0,518.0,15.7,3.000000,6.000000,0.000000,8.000000,2.700000
12406,5303173,Galamama Mulbah,RB,Merrimack,2025,INDAA,0.022000,0.106000,0.062000,0.063000,0.093000,0.124000,0.011000,0.075000,-0.105000,0.171000,0.338000,-0.286000,0.234000,0.1630,-0.168,0.1420,-0.523000,7.194000,2.703000,-3.716000,5.843000,7.175000,-0.503000,6.672000,2.0,1.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,1.0,0.0,20.0,20.0,47.000000,45.000000,2.000000,240.000000,5.100000
12407,5306715,Dj Jordan,WR,USC,2025,B1G,0.000000,0.023000,0.000000,0.000000,0.030000,0.000000,0.037000,0.017000,NaN,0.134000,NaN,NaN,0.134000,NaN,0.134,0.1340,0.000000,0.134000,0.000000,0.000000,0.134000,0.000000,0.134000,0.134000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,0.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN

In [41]:
merge1 = stats1.merge(
    draft,
    how = "left",
    left_on = ["player_id"],
    right_on= ["college_athlete_id"]
)
merge1.head()

,player_id,name_x,position_x,team,season,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_ATT,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC,college_athlete_id,nfl_athlete_id,college_id,college_team,college_conference,nfl_team_id,nfl_team,position_y,name_y,year,round,pick_number,overall,height_in,weight_lbs,pre_draft_position_ranking,pre_draft_grade
0,100009,Johnny Jackson,WR,Arizona,2015,PAC,0.104000,0.049000,0.094000,0.065000,0.055000,0.000000,0.133000,0.065000,0.953000,0.413000,1.314000,0.839000,0.415000,NaN,0.674,0.6740,28.600000,13.214000,22.345000,16.772000,9.542000,0.000000,41.813000,41.813000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,50.0,5.0,612.0,12.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102597,Will Rogers,QB,Washington,2024,B1G,0.670000,0.458333,0.652167,0.532667,0.454333,0.060167,0.888000,0.520333,0.443833,0.188333,0.426833,0.438667,0.138167,-0.1675,0.313,0.2910,57.095833,43.996000,36.587833,45.864333,24.582667,-3.056667,104.148667,101.092333,4.5,2.166667,0.5,336.166667,226.333333,6.166667,0.666333,16.833333,2431.5,7.333333,NaN,NaN,NaN,NaN,NaN,34.000000,17.500000,0.333333,-71.333333,-1.916667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,107494,Trey Sanders,RB,TCU,2024,B12,0.043400,0.068400,0.047267,0.071533,0.058267,0.119733,0.008867,0.060600,0.646133,0.010467,0.280800,-0.090933,-0.006867,0.1442,NaN,0.1604,2.071933,2.040267,3.381200,-0.835133,-0.067467,3.438600,0.674133,4.112733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.466667,15.333333,2.066667,128.733333,4.173333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,109907,Jon Lee,RB,Air Force,2014,MWC,0.035000,0.025000,0.015000,0.057000,0.015000,0.023000,0.052000,0.028000,0.630000,-0.128000,-0.363000,0.173000,0.222000,0.1790,0.015,0.1240,1.890000,-0.770000,-0.363000,1.040000,0.444000,1.076000,0.044000,1.120000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,0.0,12.0,6.0,6.000000,32.000000,0.000000,39.000000,6.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,136429,Cedric Patterson III,WR,Rice,2022,CUSA,0.077333,0.033667,0.116667,0.018000,0.045000,0.022667,0.086667,0.050667,0.224000,0.066333,0.166000,NaN,0.191333,0.1360,0.150,0.1760,6.349333,6.364667,3.909000,2.029667,6.775333,0.465333,12.248333,12.714000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.666667,15.333333,0.333333,16.000000,7.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
merge1[merge1['nfl_athlete_id'].notna()]

,player_id,name_x,position_x,team,season,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_ATT,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC,college_athlete_id,nfl_athlete_id,college_id,college_team,college_conference,nfl_team_id,nfl_team,position_y,name_y,year,round,pick_number,overall,height_in,weight_lbs,pre_draft_position_ranking,pre_draft_grade
10,246044,Tyler Johnson,WR,Minnesota,2019,B1G,0.144600,0.101300,0.169800,0.098600,0.109700,0.003600,0.292100,0.114400,1.1006,0.582800,0.917200,1.163400,0.553700,NaN,0.804400,0.792400,44.476600,35.091500,25.902900,32.989800,23.560800,0.076600,79.491400,79.568000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.600000,66.200000,10.300000,1027.400000,15.490000,NaN,NaN,NaN,NaN,NaN,246044.0,104174.0,135.0,Minnesota,Big Ten,27.0,Tampa Bay,WR,Tyler Johnson,2020.0,5.0,16.0,161.0,73.0,206.0,29.0,54.0
13,480211,Andre Debose,WR,Florida,2014,SEC,0.000000,0.039000,0.017000,0.000000,0.055000,0.013000,0.048000,0.026000,NaN,-0.166000,-0.288000,NaN,-0.146000,1.118000,-0.680000,-0.166000,0.000000,-1.163000,-0.288000,0.000000,-0.875000,2.236000,-3.399000,-1.163000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,-3.000000,-3.000000,2.000000,35.000000,0.000000,30.000000,15.000000,480211.0,47531.0,57.0,Florida,SEC,13.0,Las Vegas,WR,Andre Debose,2015.0,7.0,4.0,221.0,72.0,190.0,93.0,30.0
15,480746,Bryce Petty,QB,Baylor,2014,B12,0.556000,0.442000,0.573000,0.429000,0.492000,0.115000,0.879000,0.475000,0.4130,0.305000,0.343000,0.471000,0.265000,0.149000,0.368000,0.341000,70.133000,103.028000,39.047000,69.723000,62.275000,9.373000,163.788000,173.161000,NaN,NaN,NaN,428.0,270.0,7.0,0.631,29.0,3855.0,9.00,NaN,NaN,NaN,NaN,NaN,84.000000,21.000000,6.000000,101.000000,1.200000,480746.0,46890.0,239.0,Baylor,Big 12,20.0,New York,QB,Bryce Petty,2015.0,4.0,4.0,103.0,75.0,230.0,3.0,73.0
37,500253,Randall Telfer,TE,USC,2014,PAC,0.033000,0.038000,0.027000,0.036000,0.040000,0.000000,0.072000,0.036000,1.3370,0.148000,1.332000,0.120000,0.294000,NaN,0.481000,0.481000,9.358000,2.658000,5.328000,0.960000,3.522000,0.000000,12.016000,12.016000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,21.000000,2.000000,197.000000,9.400000,NaN,NaN,NaN,NaN,NaN,500253.0,47041.0,30.0,USC,Pac-12,5.0,Cleveland,TE,Randall Telfer,2015.0,6.0,22.0,198.0,76.0,250.0,13.0,42.0
45,500419,Trevor Siemian,QB,Northwestern,2014,B1G,0.664000,0.457000,0.720000,0.529000,0.434000,0.102000,0.954000,0.524000,0.2150,0.017000,0.535000,0.001000,-0.137000,0.235000,0.084000,0.098000,39.986000,4.667000,74.410000,0.135000,-21.182000,10.103000,34.550000,44.653000,NaN,NaN,NaN,392.0,228.0,11.0,0.582,7.0,2214.0,5.60,17.000000,1.000000,1.000000,17.000000,17.000000,68.000000,16.000000,5.000000,-123.000000,-1.800000,500419.0,47228.0,77.0,Northwestern,Big Ten,7.0,Denver,QB,Trevor Siemian,2015.0,7.0,33.0,250.0,75.0,220.0,24.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10096,4911851,Lequint Allen,RB,Syracuse,2024,ACC,0.171667,0.310167,0.149000,0.273500,0.325000,0.464833,0.111000,0.266167,0.3360,0.120000,0.661000,0.086833,0.104167,0.083000,0.403833,0.161167,13.884667,19.397667,17.506500,8.131000,4.814833,10.719500,22.562833,33.282500,1.666667,0.833333,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.000000,47.500000,2.500000,354.000000,7.133333,202.166667,48.666667,11.166667,910.500000,4.833333,4911851.0,109389.0,183.0,Syracuse,ACC,30.0,Jacksonville,RB,LeQuint Allen,2025.0,7.0,20.0,236.0,72.0,204.0,19.0,50.0
10554,5081397,Dylan Sampson,RB,Tennessee,2024,SEC,0.160500,0.235333,0.161000,0.227833,0.228000,0.342333,0.047333,0.214000,0.3485,0.249833,0.573667,0.171833,0.153333,0.233333,0.568833,0.273500,11.279167,39.583333,20.365000,9.720833,13.930500,41.451000,9.411167,50.862000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.000000,16.166667,0.333333,133.833333,8.366667,174.000000,56.000000,14.333333,1012.666667,5.933333,5081397.0,109312.0,2633.0,Tennessee,SEC,5.0,Cleveland,RB,Dylan Sampson,2025.0,4.0,24.0,126.0,68.0,200.0,7.0,75.0
10645,5082630,Jalen Royals,WR,Utah State,2024,MWC,0.096667,0.102333,0.103667,0.087000,0.114000,0.003333,0.181667,0.100667,1.8150,1.052333,1.947333,1.325667,0.843667,NaN,1.280667,1.259333,30.373000,38.499667,22.442000,20.180000,22.036333,-0.197333,69.069333,68.872667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.666667,60.333333,9.000000,916.000000,15.200000,NaN,NaN,NaN,NaN,NaN,5082630.0,109270.0,328.0,Utah State,Mountain West,12.0,Kansas City,WR,Jalen Royals,2025.0,4.0,31.0,133.0,72.0,205.0,9.0,83.0
10661,5083076,Harold Fannin,TE,Bowling Green,2024,MAC,0.142500,0.119667,0.130500,0.135167,0.113667,0.030500,0.220333,0.127500,0.8905,0.719667,1.135333,0.676000,0.596333,0.567167,0.820667,0.784167,32.627000,45.309500,20.245667,24.442167,24.405333,5.388333,72.548500,77.936500,NaN,NaN,NaN,1.5,0.5,0.0,0.250,0.0,4.5,2.25,58.166667,76.333333,7.166667,1019.000000,13.250000,10.833333,24.500000,1.166667,55.000000,5.450000,5083076.0,109274.0,189.0,Bowling Green,Mid-American,5.0,Cleveland,TE,Harold Fannin Jr.,2025.0,3.0,3.0,67.0,75.0,241.0,7.0,73.0
11077,5123663,Isaac Teslaa,WR,Arkansas,2024,SEC,0.076000,0.040000,0.076000,0.038667,0.049667,0.001667,0.104667,0.052000,1.4900,0.742667,1.666667,0.916333,0.714667,NaN,1.088333,1.087333,23.423667,13.109667,15.844000,6.819333,11.492667,0.221333,36.312000,36.533333,1.000000,0.666667,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.000000,30.000000,2.666667,480.333333,16.433333,NaN,NaN,NaN,NaN,NaN,5123663.0,109481.0,8.0,Arkansas,SEC,8.0,Detroit,WR,Isaac TeSlaa,2025.0,3.0,6.0,70.0,76.0,214.0,17.0,58.0

In [46]:
final = merge1.merge(
    combine,
    how = "left",
    left_on= ["year","overall"],
    right_on= ["season","pick"]
)
final.head()

,player_id,name_x,position_x,team_x,season_x,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_ATT,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC,college_athlete_id,nfl_athlete_id,college_id,college_team,college_conference,nfl_team_id,nfl_team,position_y,name_y,year,round_x,pick_number,overall,height_in,weight_lbs,pre_draft_position_ranking,pre_draft_grade,pfr_player_id,cfb_player_id,season_y,round_y,pick,team_y,pfr_player_name,position,category,college,w_av,car_av,dr_av,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle,pfr_id,birth_date,height,weight,rookie_season,last_season,birth_year,age
0,100009,Johnny Jackson,WR,Arizona,2015,PAC,0.104000,0.049000,0.094000,0.065000,0.055000,0.000000,0.133000,0.065000,0.953000,0.413000,1.314000,0.839000,0.415000,NaN,0.674,0.6740,28.600000,13.214000,22.345000,16.772000,9.542000,0.000000,41.813000,41.813000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,50.0,5.0,612.0,12.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102597,Will Rogers,QB,Washington,2024,B1G,0.670000,0.458333,0.652167,0.532667,0.454333,0.060167,0.888000,0.520333,0.443833,0.188333,0.426833,0.438667,0.138167,-0.1675,0.313,0.2910,57.095833,43.996000,36.587833,45.864333,24.582667,-3.056667,104.148667,101.092333,4.5,2.166667,0.5,336.166667,226.333333,6.166667,0.666333,16.833333,2431.5,7.333333,NaN,NaN,NaN,NaN,NaN,34.000000,17.500000,0.333333,-71.333333,-1.916667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,107494,Trey Sanders,RB,TCU,2024,B12,0.043400,0.068400,0.047267,0.071533,0.058267,0.119733,0.008867,0.060600,0.646133,0.010467,0.280800,-0.090933,-0.006867,0.1442,NaN,0.1604,2.071933,2.040267,3.381200,-0.835133,-0.067467,3.438600,0.674133,4.112733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.466667,15.333333,2.066667,128.733333,4.173333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,109907,Jon Lee,RB,Air Force,2014,MWC,0.035000,0.025000,0.015000,0.057000,0.015000,0.023000,0.052000,0.028000,0.630000,-0.128000,-0.363000,0.173000,0.222000,0.1790,0.015,0.1240,1.890000,-0.770000,-0.363000,1.040000,0.444000,1.076000,0.044000,1.120000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,0.0,12.0,6.0,6.000000,32.000000,0.000000,39.000000,6.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,136429,Cedric Patterson III,WR,Rice,2022,CUSA,0.077333,0.033667,0.116667,0.018000,0.045000,0.022667,0.086667,0.050667,0.224000,0.066333,0.166000,NaN,0.191333,0.1360,0.150,0.1760,6.349333,6.364667,3.909000,2.029667,6.775333,0.465333,12.248333,12.714000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.666667,15.333333,0.333333,16.000000,7.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
final[final.w_av.notna()]

,player_id,name_x,position_x,team_x,season_x,conference,usage_passing_downs,usage_standard_downs,usage_third_down,usage_second_down,usage_first_down,usage_rush,usage_var_pass,usage_overall,avg_ppa_passing_downs,avg_ppa_standard_downs,avg_ppa_third_down,avg_ppa_second_down,avg_ppa_first_down,avg_ppa_rush,avg_ppa_var_pass,avg_ppa_all,total_ppa_passing_downs,total_ppa_standard_downs,total_ppa_third_down,total_ppa_second_down,total_ppa_first_down,total_ppa_rush,total_ppa_var_pass,total_ppa_all,fumbles_FUM,fumbles_LOST,fumbles_REC,passing_ATT,passing_COMPLETIONS,passing_INT,passing_PCT,passing_TD,passing_YDS,passing_YPA,receiving_LONG,receiving_REC,receiving_TD,receiving_YDS,receiving_YPR,rushing_ATT,rushing_LONG,rushing_TD,rushing_YDS,rushing_YPC,college_athlete_id,nfl_athlete_id,college_id,college_team,college_conference,nfl_team_id,nfl_team,position_y,name_y,year,round_x,pick_number,overall,height_in,weight_lbs,pre_draft_position_ranking,pre_draft_grade,pfr_player_id,cfb_player_id,season_y,round_y,pick,team_y,pfr_player_name,position,category,college,w_av,car_av,dr_av,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle,pfr_id,birth_date,height,weight,rookie_season,last_season,birth_year,age
10,246044,Tyler Johnson,WR,Minnesota,2019,B1G,0.144600,0.101300,0.169800,0.098600,0.109700,0.003600,0.292100,0.114400,1.1006,0.582800,0.917200,1.163400,0.553700,NaN,0.804400,0.792400,44.476600,35.091500,25.902900,32.989800,23.560800,0.076600,79.491400,79.568000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.600000,66.200000,10.300000,1027.400000,15.490000,NaN,NaN,NaN,NaN,NaN,246044.0,104174.0,135.0,Minnesota,Big Ten,27.0,Tampa Bay,WR,Tyler Johnson,2020.0,5.0,16.0,161.0,73.0,206.0,29.0,54.0,JohnTy00,tyler-johnson-6,2020.0,5.0,161.0,TAM,Tyler Johnson,WR,WR,Minnesota,9.0,NaN,5.0,6-1,206.0,NaN,NaN,NaN,NaN,NaN,NaN,JohnTy00,1998-08-25,73.0,208.0,2020.0,2025.0,1998.0,22.0
15,480746,Bryce Petty,QB,Baylor,2014,B12,0.556000,0.442000,0.573000,0.429000,0.492000,0.115000,0.879000,0.475000,0.4130,0.305000,0.343000,0.471000,0.265000,0.149000,0.368000,0.341000,70.133000,103.028000,39.047000,69.723000,62.275000,9.373000,163.788000,173.161000,NaN,NaN,NaN,428.0,270.0,7.0,0.631,29.0,3855.0,9.00,NaN,NaN,NaN,NaN,NaN,84.000000,21.000000,6.000000,101.000000,1.200000,480746.0,46890.0,239.0,Baylor,Big 12,20.0,New York,QB,Bryce Petty,2015.0,4.0,4.0,103.0,75.0,230.0,3.0,73.0,PettBr01,bryce-petty-1,2015.0,4.0,103.0,NYJ,Bryce Petty,QB,QB,Baylor,4.0,NaN,4.0,6-3,230.0,4.87,NaN,34.0,121.0,6.91,4.13,PettBr01,1991-05-31,75.0,226.0,2015.0,2018.0,1991.0,24.0
37,500253,Randall Telfer,TE,USC,2014,PAC,0.033000,0.038000,0.027000,0.036000,0.040000,0.000000,0.072000,0.036000,1.3370,0.148000,1.332000,0.120000,0.294000,NaN,0.481000,0.481000,9.358000,2.658000,5.328000,0.960000,3.522000,0.000000,12.016000,12.016000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,21.000000,2.000000,197.000000,9.400000,NaN,NaN,NaN,NaN,NaN,500253.0,47041.0,30.0,USC,Pac-12,5.0,Cleveland,TE,Randall Telfer,2015.0,6.0,22.0,198.0,76.0,250.0,13.0,42.0,TelfRa00,randall-telfer-1,2015.0,6.0,198.0,CLE,Randall Telfer,TE,TE,USC,0.0,NaN,0.0,6-4,250.0,4.83,20.0,NaN,NaN,NaN,NaN,TelfRa00,1992-05-16,76.0,250.0,2015.0,2017.0,1992.0,23.0
45,500419,Trevor Siemian,QB,Northwestern,2014,B1G,0.664000,0.457000,0.720000,0.529000,0.434000,0.102000,0.954000,0.524000,0.2150,0.017000,0.535000,0.001000,-0.137000,0.235000,0.084000,0.098000,39.986000,4.667000,74.410000,0.135000,-21.182000,10.103000,34.550000,44.653000,NaN,NaN,NaN,392.0,228.0,11.0,0.582,7.0,2214.0,5.60,17.000000,1.000000,1.000000,17.000000,17.000000,68.000000,16.000000,5.000000,-123.000000,-1.800000,500419.0,47228.0,77.0,Northwestern,Big Ten,7.0,Denver,QB,Trevor Siemian,2015.0,7.0,33.0,250.0,75.0,220.0,24.0,30.0,SiemTr00,trevor-siemian-1,2015.0,7.0,250.0,DEN,Trevor Siemian,QB,QB,Northwestern,16.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SiemTr00,1991-12-26,75.0,220.0,2015.0,2025.0,1991.0,24.0
78,501147,Clive Walford,TE,Miami,2014,ACC,0.092000,0.068000,0.090000,0.073000,0.072000,0.003000,0.147000,0.075000,1.0110,1.152000,1.298000,1.253000,1.044000,-0.993000,1.139000,1.099000,20.219000,38.012000,15.581000,20.050000,24.003000,-0.993000,59.224000,58.231000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.000000,44.000000,7.000000,676.000000,15.400000,NaN,NaN,NaN,NaN,NaN,501147.0,46872.0,2390.0,Miami,ACC,13.0,Las Vegas,TE,Clive Walford,2015.0,3.0,4.0,68.0,76.0,251.0,2.0,80.0,WalfCl00,clive-walford-1,2015.0,3.0,68.0,OAK,Clive Walford,TE,TE,Miami (FL),7.0,NaN,7.0,6-4,251.0,4.79,20.0,35.0,120.0,7.32,4.57,WalfCl00,1991-10-01,76.0,252.0,2015.0,2019.0,1991.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10096,4911851,Lequint Allen,RB,Syracuse,2024,ACC,0.171667,0.310167,0.149000,0.273500,0.325000,0.464833,0.111000,0.266167,0.3360,0.120000,0.661000,0.086833,0.104167,0.083000,0.403833,0.161167,13.884667,19.397667,17.506500,8.131000,4.814833,10.719500,22.562833,33.282500,1.666667,0.833333,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.000000,47.500000,2.500000,354.000000,7.133333,202.166667,48.666667,11.166667,910.500000,4.833333,4911851.0,109389.0,183.0,Syracuse,ACC,30.0,Jacksonville,RB,LeQuint Allen,2025.0,7.0,20.0,236.0,72.0,204.0,19.0,50.0,AlleLe01,lequint-allen-1,2025.0,7.0,236.0,JAX,LeQuint Allen,RB,RB,Syracuse,1.0,NaN,1.0,6-0,204.0,NaN,NaN,35.0,120.0,NaN,NaN,AlleLe01,2004-08-05,72.0,201.0,2025.0,2025.0,2004.0,21.0
10554,5081397,Dylan Sampson,RB,Tennessee,2024,SEC,0.160500,0.235333,0.161000,0.227833,0.228000,0.342333,0.047333,0.214000,0.3485,0.249833,0.573667,0.171833,0.153333,0.233333,0.568833,0.273500,11.279167,39.583333,20.365000,9.720833,13.930500,41.451000,9.411167,50.862000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.000000,16.166667,0.333333,133.833333,8.366667,174.000000,56.000000,14.333333,1012.666667,5.933333,5081397.0,109312.0,2633.0,Tennessee,SEC,5.0,Cleveland,RB,Dylan Sampson,2025.0,4.0,24.0,126.0,68.0,200.0,7.0,75.0,SampDy00,dylan-sampson-1,2025.0,4.0,126.0,CLE,Dylan Sampson,RB,RB,Tennessee,3.0,NaN,3.0,5-8,200.0,NaN,13.0,35.0,124.0,NaN,NaN,SampDy00,2004-09-14,68.0,201.0,2025.0,2025.0,2004.0,21.0
10645,5082630,Jalen Royals,WR,Utah State,2024,MWC,0.096667,0.102333,0.103667,0.087000,0.114000,0.003333,0.181667,0.100667,1.8150,1.052333,1.947333,1.325667,0.843667,NaN,1.280667,1.259333,30.373000,38.499667,22.442000,20.180000,22.036333,-0.197333,69.069333,68.872667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.666667,60.333333,9.000000,916.000000,15.200000,NaN,NaN,NaN,NaN,NaN,5082630.0,109270.0,328.0,Utah State,Mountain West,12.0,Kansas City,WR,Jalen Royals,2025.0,4.0,31.0,133.0,72.0,205.0,9.0,83.0,RoyaJa00,jalen-royals-1,2025.0,4.0,133.0,KAN,Jalen Royals,WR,WR,Utah St.,0.0,NaN,0.0,6-0,205.0,4.42,13.0,NaN,NaN,NaN,NaN,RoyaJa00,2003-02-18,72.0,195.0,2025.0,2025.0,2003.0,22.0
10661,5083076,Harold Fannin,TE,Bowling Green,2024,MAC,0.142500,0.119667,0.130500,0.135167,0.113667,0.030500,0.220333,0.127500,0.8905,0.719667,1.135333,0.676000,0.596333,0.567167,0.820667,0.784167,32.627000,45.309500,20.245667,24.442167,24.405333,5.388333,72.548500,77.936500,NaN,NaN,NaN,1.5,0.5,0.0,0.250,0.0,4.5,2.25,58.166667,76.333333,7.166667,1019.000000,13.250000,10.833333,24.500000,1.166667,55.000000,5.450000,5083076.0,109274.0,189.0,Bowling Green,Mid-American,5.0,Cleveland,TE,Harold Fannin Jr.,2025.0,3.0,3.0,67.0,75.0,241.0,7.0,73.0,FannHa00,harold-fannin-jr-1,2025.0,3.0,67.0,CLE,Harold Fannin,TE,TE,Bowling Green,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FannHa00,2004-07-20,76.0,241.0,2025.0,2025.0,2004.0,21.0
11077,5123663,Isaac Teslaa,WR,Arkansas,2024,SEC,0.076000,0.040000,0.076000,0.038667,0.049667,0.001667,0.104667,0.052000,1.4900,0.742667,1.666667,0.916333,0.714667,NaN,1.088333,1.087333,23.423667,13.109667,15.844000,6.819333,11.492667,0.221333,36.312000,36.533333,1.000000,0.666667,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.000000,30.000000,2.666667,480.333333,16.433333,NaN,NaN,NaN,NaN,NaN,5123663.0,109481.0,8.0,Arkansas,SEC,8.0,Detroit,WR,Isaac TeSlaa,2025.0,3.0,6.0,70.0,76.0,214.0,17.0,58.0,TeSlIs00,isaac-teslaa-1,2025.0,3.0,70.0,DET,Isaac TeSlaa,WR,WR,Arkansas,2.0,NaN,2.0,6-4,214.0,4.43,17.0,39.5,129.0,6.85,4.05,TeSlIs00,2002-02-20,76.0,214.0,2025.0,2025.0,2002.0,23.0

In [48]:
final.to_csv("merged.csv")