In [ ]:
! pip install pydantic

Requirement already satisfied: pydantic in /usr/local/lib/python3.12/dist-packages (2.12.3)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic) (2.41.4)
Requirement already satisfied: typing-extensions>=4.14.1 in /usr/local/lib/python3.12/dist-packages (from pydantic) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic) (0.4.2)

In [ ]:
! pip install nflreadpy

Collecting nflreadpy
  Downloading nflreadpy-0.1.5-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: requests>=2.28.0 in /usr/local/lib/python3.12/dist-packages (from nflreadpy) (2.32.4)
Requirement already satisfied: polars>=0.20.0 in /usr/local/lib/python3.12/dist-packages (from nflreadpy) (1.31.0)
Requirement already satisfied: platformdirs>=3.0.0 in /usr/local/lib/python3.12/dist-packages (from nflreadpy) (4.5.1)
Requirement already satisfied: tqdm>=4.64.0 in /usr/local/lib/python3.12/dist-packages (from nflreadpy) (4.67.2)
Requirement already satisfied: pydantic>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from nflreadpy) (2.12.3)
Requirement already satisfied: pydantic-settings>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from nflreadpy) (2.12.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.0.0->nflreadpy) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.0.0->nflreadpy) (2.41.4)
Requirement already satisfied: typing-extensions>=4.14.1 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.0.0->nflreadpy) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.0.0->nflreadpy) (0.4.2)
Requirement already satisfied: python-dotenv>=0.21.0 in /usr/local/lib/python3.12/dist-packages (from pydantic-settings>=2.0.0->nflreadpy) (1.2.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.28.0->nflreadpy) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.28.0->nflreadpy) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.28.0->nflreadpy) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.28.0->nflreadpy) (2026.1.4)
Downloading nflreadpy-0.1.5-py3-none-any.whl (30 kB)
Installing collected packages: nflreadpy
Successfully installed nflreadpy-0.1.5

In [ ]:
import nflreadpy


draft_data = nflreadpy.load_draft_picks(seasons = range(2014,2026))[[
    'pfr_player_id','cfb_player_id','season' ,'round', 'pick', 'team', 'pfr_player_name', 'position', 'category', 'college', 'w_av', 'car_av', 'dr_av'
    ]].to_pandas()

draft_data

combine_data = nflreadpy.load_combine(seasons=range(2014, 2026)).to_pandas()
combine_data = combine_data[combine_data.pos.isin(['WR', 'QB', 'RB', 'TE'])]#dropna(subset = 'draft_round')
#[combine_data.pos.isin(['WR', 'QB', 'RB', 'TE'])]
combine_data.reset_index(inplace=True, drop = True)

In [ ]:
combine_data

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
0,2014,2014.0,Green Bay Packers,5.0,176.0,AbbrJa00,jared-abbrederis-1,Jared Abbrederis,WR,Wisconsin,6-1,195.0,4.50,4.0,30.5,117.0,6.80,4.08
1,2014,2014.0,Green Bay Packers,2.0,53.0,AdamDa01,davante-adams-1,Davante Adams,WR,Fresno State,6-1,212.0,4.56,14.0,39.5,123.0,6.82,4.30
2,2014,2014.0,New York Jets,2.0,49.0,AmarJa00,jace-amaro-1,Jace Amaro,TE,Texas Tech,6-5,265.0,4.74,28.0,33.0,118.0,7.42,4.30
3,2014,NaN,None,NaN,NaN,AndrAn00,antonio-andrews-1,Antonio Andrews,RB,Western Kentucky,5-10,225.0,4.82,20.0,29.5,106.0,7.24,4.49
4,2014,2014.0,Pittsburgh Steelers,3.0,97.0,ArchDr00,dri-archer-1,Dri Archer,WR,Kent State,5-8,173.0,4.26,20.0,38.0,122.0,6.86,4.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,2025,NaN,None,NaN,NaN,None,theo-wease-1,Theo Wease,WR,Missouri,6-3,200.0,4.56,NaN,31.0,117.0,NaN,NaN
1378,2025,NaN,None,NaN,NaN,None,lajohntay-wester-1,LaJohntay Wester,WR,Colorado,5-10,163.0,4.46,NaN,32.0,121.0,NaN,NaN
1379,2025,NaN,None,NaN,NaN,None,kyle-williams-11,Kyle Williams,WR,Washington St.,5-11,190.0,4.40,NaN,36.5,119.0,NaN,NaN
1380,2025,NaN,None,NaN,NaN,None,savion-williams-2,Savion Williams,WR,TCU,6-4,222.0,4.48,NaN,NaN,NaN,NaN,NaN
1381,2025,NaN,None,NaN,NaN,None,None,Marcus Yarns,RB,Delaware,5-11,193.0,4.45,NaN,37.5,122.0,NaN,NaN

In [ ]:
combine_data[(combine_data.season== 2025) & (combine_data.pos == 'WR')]

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
1268,2025,NaN,None,NaN,NaN,None,andrew-armstrong-2,Andrew Armstrong,WR,Arkansas,6-4,202.0,4.51,11.0,37.5,124.0,6.97,4.18
1270,2025,NaN,None,NaN,NaN,None,elic-ayomanor-1,Elic Ayomanor,WR,Stanford,6-2,206.0,4.44,NaN,38.5,127.0,NaN,NaN
1271,2025,NaN,None,NaN,NaN,None,elijhah-badger-1,Elijhah Badger,WR,Florida,6-1,200.0,4.43,NaN,35.5,NaN,NaN,NaN
1273,2025,NaN,None,NaN,NaN,None,jack-bech-1,Jack Bech,WR,TCU,6-1,214.0,NaN,19.0,34.5,125.0,6.84,4.21
1275,2025,NaN,None,NaN,NaN,None,isaiah-bond-1,Isaiah Bond,WR,Texas,5-11,180.0,4.39,NaN,NaN,NaN,NaN,NaN
1277,2025,NaN,None,NaN,NaN,None,jacorey-brooks-1,Ja'Corey Brooks,WR,Louisville,6-2,184.0,NaN,NaN,NaN,NaN,NaN,NaN
1280,2025,NaN,None,NaN,NaN,None,pat-bryant-1,Pat Bryant,WR,Illinois,6-2,204.0,4.61,NaN,37.5,124.0,NaN,NaN
1281,2025,NaN,None,NaN,NaN,None,beaux-collins-1,Beaux Collins,WR,Notre Dame,6-3,201.0,NaN,NaN,NaN,NaN,NaN,NaN
1285,2025,NaN,None,NaN,NaN,None,chimere-dike-1,Chimere Dike,WR,Florida,6-1,196.0,4.34,NaN,38.5,128.0,6.82,4.27
1288,2025,NaN,None,NaN,NaN,None,emeka-egbuka-1,Emeka Egbuka,WR,Ohio St.,6-1,202.0,NaN,NaN,NaN,NaN,NaN,NaN
1292,2025,NaN,None,NaN,NaN,None,daquan-felton-1,Da'Quan Felton,WR,Virginia Tech,6-5,213.0,4.50,16.0,32.5,122.0,7.10,4.30
1293,2025,NaN,None,NaN,NaN,None,tai-felton-1,Tai Felton,WR,Maryland,6-1,183.0,4.37,NaN,39.5,130.0,NaN,NaN
1296,2025,NaN,None,NaN,NaN,None,jacolby-george-1,Jacolby George,WR,Miami,5-11,172.0,NaN,NaN,32.5,120.0,6.77,NaN
1298,2025,NaN,None,NaN,NaN,None,matthew-golden-1,Matthew Golden,WR,Texas,5-11,191.0,4.29,NaN,NaN,NaN,NaN,NaN
1300,2025,NaN,None,NaN,NaN,None,None,Cleveland Harris,WR,Mississippi,6-2,205.0,4.54,NaN,38.5,125.0,NaN,NaN
1306,2025,NaN,None,NaN,NaN,None,jayden-higgins-1,Jayden Higgins,WR,Iowa St.,6-4,214.0,4.47,NaN,39.0,128.0,NaN,NaN
1307,2025,NaN,None,NaN,NaN,None,traeshon-holden-1,Traeshon Holden,WR,Oregon,6-2,205.0,4.57,NaN,32.0,123.0,NaN,NaN
1308,2025,NaN,None,NaN,NaN,None,tory-horton-1,Tory Horton,WR,Colorado St.,6-3,196.0,4.41,NaN,37.5,NaN,NaN,NaN
1310,2025,NaN,None,NaN,NaN,None,kobe-hudson-1,Kobe Hudson,WR,Central Florida,6-1,193.0,4.57,NaN,35.0,122.0,NaN,NaN
1315,2025,NaN,None,NaN,NaN,None,luther-burden-1,Luther Burden III,WR,Missouri,6-0,206.0,4.41,NaN,NaN,NaN,NaN,NaN
1316,2025,NaN,None,NaN,NaN,None,ricky-white-2,Ricky White III,WR,UNLV,6-1,184.0,4.61,NaN,36.0,123.0,NaN,NaN
1318,2025,NaN,None,NaN,NaN,None,daniel-jackson-5,Daniel Jackson,WR,Minnesota,5-11,193.0,NaN,NaN,NaN,NaN,6.78,4.07
1323,2025,NaN,None,NaN,NaN,None,tez-johnson-1,Tez Johnson,WR,Oregon,5-10,154.0,4.51,NaN,37.0,131.0,6.65,4.15
1324,2025,NaN,None,NaN,NaN,None,antwane-wells-jr-1,Antwane Wells Jr.,WR,Mississippi,6-1,201.0,4.58,NaN,34.0,124.0,NaN,NaN
1325,2025,NaN,None,NaN,NaN,None,donte-thornton-1,Dont'e Thornton Jr.,WR,Tennessee,6-5,205.0,4.30,NaN,33.0,126.0,NaN,NaN
1327,2025,NaN,None,NaN,NaN,None,jimmy-horn-jr-1,Jimmy Horn Jr.,WR,Colorado,5-8,174.0,4.46,NaN,38.0,128.0,NaN,4.41
1329,2025,NaN,None,NaN,NaN,None,sam-brown-5,Sam Brown Jr.,WR,Miami,6-2,200.0,4.44,NaN,41.5,NaN,NaN,NaN
1331,2025,NaN,None,NaN,NaN,None,josh-kelly-2,Josh Kelly,WR,Texas Tech,6-1,186.0,4.70,NaN,33.0,121.0,7.02,NaN
1335,2025,NaN,None,NaN,NaN,None,keandre-lambert-smith-1,KeAndre Lambert-Smith,WR,Auburn,6-1,190.0,4.37,NaN,34.5,124.0,NaN,NaN
1336,2025,NaN,None,NaN,NaN,None,None,Joshua Lane,WR,Virginia Tech,5-10,191.0,4.34,14.0,40.0,132.0,6.75,4.12
1339,2025,NaN,None,NaN,NaN,None,dominic-lovett-1,Dominic Lovett,WR,Georgia,5-10,185.0,4.40,NaN,33.5,120.0,NaN,4.27
1345,2025,NaN,None,NaN,NaN,None,bru-mccoy-1,Bru McCoy,WR,Tennessee,6-3,209.0,NaN,NaN,NaN,NaN,NaN,NaN
1346,2025,NaN,None,NaN,NaN,None,tetairoa-mcmillan-1,Tetairoa McMillan,WR,Arizona,6-4,219.0,NaN,NaN,NaN,NaN,NaN,NaN
1351,2025,NaN,None,NaN,NaN,None,konata-mumpfield-1,Konata Mumpfield,WR,Pittsburgh,5-11,186.0,4.59,NaN,36.0,124.0,NaN,NaN
1352,2025,NaN,None,NaN,NaN,None,nick-nash-1,Nick Nash,WR,San Jose St.,6-3,203.0,4.57,NaN,34.0,123.0,NaN,NaN
1355,2025,NaN,None,NaN,NaN,None,isaiah-neyor-1,Isaiah Neyor,WR,Nebraska,6-4,218.0,4.40,NaN,38.0,133.0,NaN,NaN
1356,2025,NaN,None,NaN,NaN,None,jaylin-noel-1,Jaylin Noel,WR,Iowa St.,5-10,194.0,4.39,23.0,41.5,134.0,6.82,4.17
1358,2025,NaN,None,NaN,NaN,None,kaden-prather-1,Kaden Prather,WR,Maryland,6-4,204.0,4.46,NaN,30.0,114.0,NaN,NaN
1359,2025,NaN,None,NaN,NaN,None,xavier-restrepo-1,Xavier Restrepo,WR,Miami,5-10,209.0,NaN,17.0,NaN,NaN,NaN,NaN
1361,2025,NaN,None,NaN,NaN,None,jalen-royals-1,Jalen Royals,WR,Utah St.,6-0,205.0,4.42,13.0,NaN,NaN,NaN,NaN
1368,2025,NaN,None,NaN,NaN,None,arian-smith-1,Arian Smith,WR,Georgia,6-0,179.0,4.36,NaN,38.0,127.0,6.82,4.19
1371,2025,NaN,None,NaN,NaN,None,roc-taylor-1,Roc Taylor,WR,Memphis,6-2,213.0,4.49,NaN,30.5,122.0,NaN,NaN
1372,2025,NaN,None,NaN,NaN,None,isaac-teslaa-1,Isaac TeSlaa,WR,Arkansas,6-4,214.0,4.43,17.0,39.5,129.0,6.85,4.05
1376,2025,NaN,None,NaN,NaN,None,jordan-watkins-2,Jordan Watkins,WR,Mississippi,5-11,196.0,4.37,NaN,36.5,119.0,NaN,NaN
1377,2025,NaN,None,NaN,NaN,None,theo-wease-1,Theo Wease,WR,Missouri,6-3,200.0,4.56,NaN,31.0,117.0,NaN,NaN
1378,2025,NaN,None,NaN,NaN,None,lajohntay-wester-1,LaJohntay Wester,WR,Colorado,5-10,163.0,4.46,NaN,32.0,121.0,NaN,NaN
1379,2025,NaN,None,NaN,NaN,None,kyle-williams-11,Kyle Williams,WR,Washington St.,5-11,190.0,4.40,NaN,36.5,119.0,NaN,NaN
1380,2025,NaN,None,NaN,NaN,None,savion-williams-2,Savion Williams,WR,TCU,6-4,222.0,4.48,NaN,NaN,NaN,NaN,NaN

In [ ]:
draft_data_skill = draft_data[draft_data.position.isin(['WR', 'RB', 'QB', 'TE'])]
draft_data_skill

,pfr_player_id,cfb_player_id,season,round,pick,team,pfr_player_name,position,category,college,w_av,car_av,dr_av
2,BortBl00,blake-bortles-1,2014,1,3,JAX,Blake Bortles,QB,QB,Central Florida,44.0,None,44.0
3,WatkSa00,sammy-watkins-1,2014,1,4,BUF,Sammy Watkins,WR,WR,Clemson,43.0,None,20.0
6,EvanMi00,mike-evans-4,2014,1,7,TAM,Mike Evans,WR,WR,Texas A&M,80.0,None,80.0
9,EbroEr00,eric-ebron-1,2014,1,10,DET,Eric Ebron,TE,TE,North Carolina,29.0,None,15.0
11,BeckOd00,odell-beckham-jr-1,2014,1,12,NYG,Odell Beckham Jr.,WR,WR,LSU,59.0,None,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3063,LoveDo00,dominic-lovett-1,2025,7,244,DET,Dominic Lovett,WR,WR,Georgia,0.0,None,0.0
3064,CrosJa00,jacory-croskey-merritt-1,2025,7,245,WAS,Jacory Croskey-Merritt,RB,RB,Arizona,6.0,None,6.0
3067,MataMo00,moliki-matavao-1,2025,7,248,NOR,Moliki Matavao,TE,TE,UCLA,0.0,None,0.0
3071,BergJu00,None,2025,7,252,SFO,Junior Bergen,WR,WR,Montana,NaN,None,NaN
3074,LachLu00,luke-lachey-1,2025,7,255,HOU,Luke Lachey,TE,TE,Iowa,NaN,None,NaN

In [ ]:
import pandas as pd
merged_data = pd.merge(
    draft_data_skill,
    combine_data,
    left_on=['cfb_player_id', 'pfr_player_name','season'],
    right_on=['cfb_id','player_name','season'],
    how='left'
)

merged_data = merged_data[['pfr_player_id', 'cfb_player_id', 'season', 'round', 'pick', 'team', 'pfr_player_name', 'position', 'category', 'college',
            'w_av', 'car_av', 'dr_av', 'ht', 'wt', 'forty', 'bench', 'vertical', 'broad_jump', 'cone', 'shuttle']]

merged_data

,pfr_player_id,cfb_player_id,season,round,pick,team,pfr_player_name,position,category,college,w_av,car_av,dr_av,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
0,BortBl00,blake-bortles-1,2014,1,3,JAX,Blake Bortles,QB,QB,Central Florida,44.0,None,44.0,6-5,232.0,4.93,NaN,32.5,115.0,7.08,4.21
1,WatkSa00,sammy-watkins-1,2014,1,4,BUF,Sammy Watkins,WR,WR,Clemson,43.0,None,20.0,6-1,211.0,4.43,16.0,34.0,126.0,6.95,4.34
2,EvanMi00,mike-evans-4,2014,1,7,TAM,Mike Evans,WR,WR,Texas A&M,80.0,None,80.0,6-5,231.0,4.53,12.0,37.0,NaN,7.08,4.26
3,EbroEr00,eric-ebron-1,2014,1,10,DET,Eric Ebron,TE,TE,North Carolina,29.0,None,15.0,6-4,250.0,4.60,24.0,32.0,120.0,NaN,NaN
4,BeckOd00,odell-beckham-jr-1,2014,1,12,NYG,Odell Beckham Jr.,WR,WR,LSU,59.0,None,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,LoveDo00,dominic-lovett-1,2025,7,244,DET,Dominic Lovett,WR,WR,Georgia,0.0,None,0.0,5-10,185.0,4.40,NaN,33.5,120.0,NaN,4.27
950,CrosJa00,jacory-croskey-merritt-1,2025,7,245,WAS,Jacory Croskey-Merritt,RB,RB,Arizona,6.0,None,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
951,MataMo00,moliki-matavao-1,2025,7,248,NOR,Moliki Matavao,TE,TE,UCLA,0.0,None,0.0,6-6,260.0,4.81,NaN,32.5,114.0,NaN,NaN
952,BergJu00,None,2025,7,252,SFO,Junior Bergen,WR,WR,Montana,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,LachLu00,luke-lachey-1,2025,7,255,HOU,Luke Lachey,TE,TE,Iowa,NaN,None,NaN,6-6,251.0,NaN,NaN,35.0,120.0,7.18,4.47

In [ ]:
player_data = nflreadpy.load_players()['pfr_id', 'birth_date', 'height', 'weight', 'rookie_season', 'last_season']

merged_data_player = pd.merge(
    merged_data,
    player_data.to_pandas(),
    left_on='pfr_player_id',
    right_on='pfr_id',
    how='left'
)

merged_data_player.birth_date = pd.to_datetime(merged_data_player.birth_date)
merged_data_player

,pfr_player_id,cfb_player_id,season,round,pick,team,pfr_player_name,position,category,college,w_av,car_av,dr_av,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle,pfr_id,birth_date,height,weight,rookie_season,last_season
0,BortBl00,blake-bortles-1,2014,1,3,JAX,Blake Bortles,QB,QB,Central Florida,44.0,None,44.0,6-5,232.0,4.93,NaN,32.5,115.0,7.08,4.21,BortBl00,1992-04-28,77.0,236.0,2014.0,2021.0
1,WatkSa00,sammy-watkins-1,2014,1,4,BUF,Sammy Watkins,WR,WR,Clemson,43.0,None,20.0,6-1,211.0,4.43,16.0,34.0,126.0,6.95,4.34,WatkSa00,1993-06-14,73.0,211.0,2014.0,2022.0
2,EvanMi00,mike-evans-4,2014,1,7,TAM,Mike Evans,WR,WR,Texas A&M,80.0,None,80.0,6-5,231.0,4.53,12.0,37.0,NaN,7.08,4.26,EvanMi00,1993-08-21,77.0,231.0,2014.0,2025.0
3,EbroEr00,eric-ebron-1,2014,1,10,DET,Eric Ebron,TE,TE,North Carolina,29.0,None,15.0,6-4,250.0,4.60,24.0,32.0,120.0,NaN,NaN,EbroEr00,1993-04-10,76.0,253.0,2014.0,2021.0
4,BeckOd00,odell-beckham-jr-1,2014,1,12,NYG,Odell Beckham Jr.,WR,WR,LSU,59.0,None,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BeckOd00,1992-11-05,71.0,200.0,2014.0,2024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,LoveDo00,dominic-lovett-1,2025,7,244,DET,Dominic Lovett,WR,WR,Georgia,0.0,None,0.0,5-10,185.0,4.40,NaN,33.5,120.0,NaN,4.27,LoveDo00,2002-11-08,70.0,185.0,2025.0,2025.0
950,CrosJa00,jacory-croskey-merritt-1,2025,7,245,WAS,Jacory Croskey-Merritt,RB,RB,Arizona,6.0,None,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CrosJa00,2001-04-12,71.0,208.0,2025.0,2025.0
951,MataMo00,moliki-matavao-1,2025,7,248,NOR,Moliki Matavao,TE,TE,UCLA,0.0,None,0.0,6-6,260.0,4.81,NaN,32.5,114.0,NaN,NaN,MataMo00,2003-03-17,80.0,263.0,2025.0,2025.0
952,BergJu00,None,2025,7,252,SFO,Junior Bergen,WR,WR,Montana,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BergJu00,2002-10-23,69.0,184.0,2025.0,2025.0
953,LachLu00,luke-lachey-1,2025,7,255,HOU,Luke Lachey,TE,TE,Iowa,NaN,None,NaN,6-6,251.0,NaN,NaN,35.0,120.0,7.18,4.47,LachLu00,2001-06-29,78.0,247.0,2025.0,2025.0

In [ ]:
merged_data_player['birth_year'] = merged_data_player['birth_date'].dt.year
display(merged_data_player[['pfr_player_name', 'birth_date', 'birth_year']].head())

     pfr_player_name birth_date  birth_year
0      Blake Bortles 1992-04-28      1992.0
1      Sammy Watkins 1993-06-14      1993.0
2         Mike Evans 1993-08-21      1993.0
3         Eric Ebron 1993-04-10      1993.0
4  Odell Beckham Jr. 1992-11-05      1992.0

In [ ]:
merged_data_player['age'] = merged_data_player['season'] - merged_data_player['birth_year']
merged_data_player

,pfr_player_id,cfb_player_id,season,round,pick,team,pfr_player_name,position,category,college,w_av,car_av,dr_av,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle,pfr_id,birth_date,height,weight,rookie_season,last_season,birth_year,age
0,BortBl00,blake-bortles-1,2014,1,3,JAX,Blake Bortles,QB,QB,Central Florida,44.0,None,44.0,6-5,232.0,4.93,NaN,32.5,115.0,7.08,4.21,BortBl00,1992-04-28,77.0,236.0,2014.0,2021.0,1992.0,22.0
1,WatkSa00,sammy-watkins-1,2014,1,4,BUF,Sammy Watkins,WR,WR,Clemson,43.0,None,20.0,6-1,211.0,4.43,16.0,34.0,126.0,6.95,4.34,WatkSa00,1993-06-14,73.0,211.0,2014.0,2022.0,1993.0,21.0
2,EvanMi00,mike-evans-4,2014,1,7,TAM,Mike Evans,WR,WR,Texas A&M,80.0,None,80.0,6-5,231.0,4.53,12.0,37.0,NaN,7.08,4.26,EvanMi00,1993-08-21,77.0,231.0,2014.0,2025.0,1993.0,21.0
3,EbroEr00,eric-ebron-1,2014,1,10,DET,Eric Ebron,TE,TE,North Carolina,29.0,None,15.0,6-4,250.0,4.60,24.0,32.0,120.0,NaN,NaN,EbroEr00,1993-04-10,76.0,253.0,2014.0,2021.0,1993.0,21.0
4,BeckOd00,odell-beckham-jr-1,2014,1,12,NYG,Odell Beckham Jr.,WR,WR,LSU,59.0,None,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BeckOd00,1992-11-05,71.0,200.0,2014.0,2024.0,1992.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,LoveDo00,dominic-lovett-1,2025,7,244,DET,Dominic Lovett,WR,WR,Georgia,0.0,None,0.0,5-10,185.0,4.40,NaN,33.5,120.0,NaN,4.27,LoveDo00,2002-11-08,70.0,185.0,2025.0,2025.0,2002.0,23.0
950,CrosJa00,jacory-croskey-merritt-1,2025,7,245,WAS,Jacory Croskey-Merritt,RB,RB,Arizona,6.0,None,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CrosJa00,2001-04-12,71.0,208.0,2025.0,2025.0,2001.0,24.0
951,MataMo00,moliki-matavao-1,2025,7,248,NOR,Moliki Matavao,TE,TE,UCLA,0.0,None,0.0,6-6,260.0,4.81,NaN,32.5,114.0,NaN,NaN,MataMo00,2003-03-17,80.0,263.0,2025.0,2025.0,2003.0,22.0
952,BergJu00,None,2025,7,252,SFO,Junior Bergen,WR,WR,Montana,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BergJu00,2002-10-23,69.0,184.0,2025.0,2025.0,2002.0,23.0
953,LachLu00,luke-lachey-1,2025,7,255,HOU,Luke Lachey,TE,TE,Iowa,NaN,None,NaN,6-6,251.0,NaN,NaN,35.0,120.0,7.18,4.47,LachLu00,2001-06-29,78.0,247.0,2025.0,2025.0,2001.0,24.0

In [ ]:
merged_data_player.age.describe()

count    949.000000
mean      22.646997
std        1.025387
min       20.000000
25%       22.000000
50%       23.000000
75%       23.000000
max       27.000000
Name: age, dtype: float64

In [ ]:
import numpy as np

(merged_data_player.wt - merged_data_player.weight).describe()

count    741.000000
mean      -0.708502
std        4.654413
min      -23.000000
25%       -3.000000
50%        0.000000
75%        1.000000
max       30.000000
dtype: float64

In [ ]:
nflreadpy.load_nextgen_stats(seasons = 2024)

shape: (614, 29)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ season â”† season_type â”† week â”† player_dis â”† â€¦ â”† player_fir â”† player_las â”† player_jer â”† player_sho â”‚
â”‚ ---    â”† ---         â”† ---  â”† play_name  â”†   â”† st_name    â”† t_name     â”† sey_number â”† rt_name    â”‚
â”‚ i32    â”† str         â”† i32  â”† ---        â”†   â”† ---        â”† ---        â”† ---        â”† ---        â”‚
â”‚        â”†             â”†      â”† str        â”†   â”† str        â”† str        â”† i32        â”† str        â”‚
â•žâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 2024   â”† REG         â”† 0    â”† Justin     â”† â€¦ â”† Justin     â”† Herbert    â”† 10         â”† J.Herbert  â”‚
â”‚        â”†             â”†      â”† Herbert    â”†   â”†            â”†            â”†            â”†            â”‚
â”‚ 2024   â”† REG         â”† 0    â”† Caleb      â”† â€¦ â”† Caleb      â”† Williams   â”† 18         â”† C.Williams â”‚
â”‚        â”†             â”†      â”† Williams   â”†   â”†            â”†            â”†            â”†            â”‚
â”‚ 2024   â”† REG         â”† 0    â”† Jalen      â”† â€¦ â”† Jalen      â”† Hurts      â”† 1          â”† J.Hurts    â”‚
â”‚        â”†             â”†      â”† Hurts      â”†   â”†            â”†            â”†            â”†            â”‚
â”‚ 2024   â”† REG         â”† 0    â”† Sam        â”† â€¦ â”† Sam        â”† Darnold    â”† 14         â”† S.Darnold  â”‚
â”‚        â”†             â”†      â”† Darnold    â”†   â”†            â”†            â”†            â”†            â”‚
â”‚ 2024   â”† REG         â”† 0    â”† Kirk       â”† â€¦ â”† Kirk       â”† Cousins    â”† 18         â”† K.Cousins  â”‚
â”‚        â”†             â”†      â”† Cousins    â”†   â”†            â”†            â”†            â”†            â”‚
â”‚ â€¦      â”† â€¦           â”† â€¦    â”† â€¦          â”† â€¦ â”† â€¦          â”† â€¦          â”† â€¦          â”† â€¦          â”‚
â”‚ 2024   â”† POST        â”† 21   â”† Patrick    â”† â€¦ â”† Patrick    â”† Mahomes    â”† 15         â”† P.Mahomes  â”‚
â”‚        â”†             â”†      â”† Mahomes    â”†   â”†            â”†            â”†            â”†            â”‚
â”‚ 2024   â”† POST        â”† 21   â”† Jayden     â”† â€¦ â”† Jayden     â”† Daniels    â”† 5          â”† J.Daniels  â”‚
â”‚        â”†             â”†      â”† Daniels    â”†   â”†            â”†            â”†            â”†            â”‚
â”‚ 2024   â”† POST        â”† 21   â”† Josh Allen â”† â€¦ â”† Joshua     â”† Allen      â”† 17         â”† J.Allen    â”‚
â”‚ 2024   â”† POST        â”† 23   â”† Jalen      â”† â€¦ â”† Jalen      â”† Hurts      â”† 1          â”† J.Hurts    â”‚
â”‚        â”†             â”†      â”† Hurts      â”†   â”†            â”†            â”†            â”†            â”‚
â”‚ 2024   â”† POST        â”† 23   â”† Patrick    â”† â€¦ â”† Patrick    â”† Mahomes    â”† 15         â”† P.Mahomes  â”‚
â”‚        â”†             â”†      â”† Mahomes    â”†   â”†            â”†            â”†            â”†            â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [ ]:
merged_data_player.to_csv('draft_combine_nflreadpy.csv')

In [ ]:
nflreadpy.load_combine(seasons = range(2014,2026))

shape: (4_080, 18)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ season â”† draft_year â”† draft_team      â”† draft_round â”† â€¦ â”† vertical â”† broad_jump â”† cone â”† shuttle â”‚
â”‚ ---    â”† ---        â”† ---             â”† ---         â”†   â”† ---      â”† ---        â”† ---  â”† ---     â”‚
â”‚ i32    â”† f64        â”† str             â”† f64         â”†   â”† f64      â”† f64        â”† f64  â”† f64     â”‚
â•žâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•¡
â”‚ 2014   â”† 2014.0     â”† Green Bay       â”† 5.0         â”† â€¦ â”† 30.5     â”† 117.0      â”† 6.8  â”† 4.08    â”‚
â”‚        â”†            â”† Packers         â”†             â”†   â”†          â”†            â”†      â”†         â”‚
â”‚ 2014   â”† 2014.0     â”† Green Bay       â”† 2.0         â”† â€¦ â”† 39.5     â”† 123.0      â”† 6.82 â”† 4.3     â”‚
â”‚        â”†            â”† Packers         â”†             â”†   â”†          â”†            â”†      â”†         â”‚
â”‚ 2014   â”† 2014.0     â”† St. Louis Rams  â”† 4.0         â”† â€¦ â”† 38.0     â”† 123.0      â”† 7.05 â”† 4.51    â”‚
â”‚ 2014   â”† 2014.0     â”† Atlanta Falcons â”† 5.0         â”† â€¦ â”† 35.5     â”† 117.0      â”† null â”† 4.15    â”‚
â”‚ 2014   â”† 2014.0     â”† New York Jets   â”† 2.0         â”† â€¦ â”† 33.0     â”† 118.0      â”† 7.42 â”† 4.3     â”‚
â”‚ â€¦      â”† â€¦          â”† â€¦               â”† â€¦           â”† â€¦ â”† â€¦        â”† â€¦          â”† â€¦    â”† â€¦       â”‚
â”‚ 2025   â”† null       â”† null            â”† null        â”† â€¦ â”† 37.0     â”† 120.0      â”† 6.72 â”† 4.25    â”‚
â”‚ 2025   â”† null       â”† null            â”† null        â”† â€¦ â”† null     â”† null       â”† null â”† null    â”‚
â”‚ 2025   â”† null       â”† null            â”† null        â”† â€¦ â”† 36.0     â”† 127.0      â”† null â”† null    â”‚
â”‚ 2025   â”† null       â”† null            â”† null        â”† â€¦ â”† 37.5     â”† 122.0      â”† null â”† null    â”‚
â”‚ 2025   â”† null       â”† null            â”† null        â”† â€¦ â”† 36.5     â”† 111.0      â”† null â”† null    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜